{% load static %}
<!doctype html>
    <html lang="en">
        <head>
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Zen+Dots&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/Chatbot.css' %}">


            <script src="https://kit.fontawesome.com/a52b198673.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
            <!--BOT CDN Styling & JS-->
            <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css">
            <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css">
            <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/botui/build/botui.min.js" crossorigin="anonymous"></script>

            <title>Chatbot</title>
        </head>
        <body>
            <div class="botui-app-container">
                <div id="my-botui-app" style="height:100vh;">
                    <bot-ui></bot-ui>
                </div>
            </div>
            <script src="{% static 'js/chatbot.js' %}"></script>
            <!--<script type="text/javascript">
                let botui = new BotUI('my-botui-app');
                let usersName = "";
                function init(){
                    botui.message.add({
                        loading: true,
                        delay: 3000,
                        content: 'Hello! Welcome to the Manage My Web helper chat. Who am I speaking with?'
                    }).then(function () { 
                        botui.action.text({
                            loading: true,
                            delay: 3000,
                            action: {
                                placeholder: 'Please enter your name here.'
                            }
                        }).then(function(res){
                            usersName = res.value; 
                            botui.message.add({
                                loading: true,
                                delay: 3000,
                                content: `Great! Thanks for speaking with us today ${usersName}.`
                            }).then(function(){
                                options();
                            })
                        })
                    });
                }
                init();
                function options(){
                    botui.message.add({
                        loading: true,
                        delay: 2000,
                        content: "To assist you further, which section would you like further help with?"
                    }).then(function(){
                        botui.action.button({
                            action: [
                                {value: "seo", text : "SEO" },
                                {value: "ws", text : "Website / Web Design" },
                                {value: "pay", text : "Payments" },
                                {value: "re", text : "Refunds" },
                                {value: "au", text : "About Us" },
                            ],
                        }).then(function (res) { 
                            i = res.value;
                            if (i == "seo"){
                                seo();
                            } else if (i = "ws"){
                                website();
                            }else if (i = "pay"){
                                pay();
                            }else if (i = "re"){
                                refund();
                            }else if (i = "au"){
                                about();
                            }
                        });
                    })
                }
                function seo(){
                    botui.message.add({
                        delay: 2000,
                        loading: true,
                        content: "We offer a range of SEO products and services."
                    }).then(function(){
                        botui.message.add({
                            delay: 2000,
                            loading: true,
                            content: "Are you looking for a 'one off' or subscription based service today " + usersName + "."
                        }).then(function(){
                        botui.action.button({
                            action: [
                                {text: 'One Time SEO', value: 'a'},
                                {text: 'Subscription Based SEO', value: 'b'},
                            ]
                            }).then(function (res) { 
                                if (res.value == "a"){
                                    let product = `<a href='{% url "products" %}' target="_blank">products page</a>`;
                                    botui.message.add({
                                        type: 'text',
                                        delay: 2000,
                                        loading: true,
                                        content: `No Problem, we offer several once off SEO packages which can be found in our products page. Alternatively you can contact us on Admin@ManageMyWeb.org, or use the contact form located on the contact page. I have added links to these sections below.`
                                    }).then(function(){
                                        botui.action.button({
                                            action: [
                                                {text:"Products", value:"prod"},
                                                {text:"Contact Us", value:"contact"},
                                            ]
                                        }).then(function(res){
                                            if (res.value == "prod"){
                                                window.location = "{% url 'products' %}";
                                            }else{
                                                window.location = "{% url 'products' %}";
                                            }
                                        })
                                    })
                                }else if (res.value == "b"){
                                    botui.message.add({
                                        delay: 2000,
                                        loading: true,
                                        content: "Great! Manage My Web currently offers a single, fixed price solution to subscription based SEO."
                                    }).then(function(){
                                        botui.message.add({
                                            delay: 3000,
                                            loading: true,
                                            content: "Our service at this time is tied in for one year, meaning we charge an upfront fee for our service."
                                        }).then(function(){
                                            botui.message.add({
                                                delay: 6000,
                                                loading: true,
                                                content: "After purchasing our subscription SEO. We will arrange through a call, or emails to get started working with your website. As a subscription customer, you will have unparalleled access to our team allowing for fast, valuable updates to your website."
                                            }).then(function(){
                                                standby();
                                            })
                                        })
                                    })
                                }
                            });
                        })
                    })
                }
                function standby(){
                    botui.action.button({
                        action:[
                            {value:"y", text: "Restart Chat"}
                        ]
                    }).then(function(res){
                        if (res.value == "y"){
                            options();
                        }
                    })
                }
            </script>-->
        </body>
    </html>