{% extends 'base.html' %}

{% block extra_meta %}
    <meta name="description" content="The gold plan from ManageMyWeb provides an unbeatable, turnkey solution to web design.">
{% endblock %}

{% block page_header %}
    <!--Override Top Margin-->
{% endblock %}

{% block content %}
<div id="home-hero" class="row g-0 relative overflow-hidden">
    <div class="gold-haze"></div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-7 py-5 px-2 infront">
        <hr class="mx-5 px-5 w-25">
        <h1 class="my-5 px-5 logo-font gold-title"><em>Gold Plan</em></h1>
        <hr class="mx-5 px-5 w-25">
        <p class="small px-5 text-black logo-font">
            <span class="lead">Perfect for</span> - <br>
            <span class="px-3">eCommerce</span> <br>
            <span class="px-3">News Websites</span> <br>
            <span class="px-3">Professional Blogs</span>
        </p>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-5 py-5 px-2 infront">
        <div class="row included rounded-3">
            <h2 class="gold-title">Included:</h2>
            <div class="col-6">
                <p class="infront text-black">
                    <span class="hover-white"><i class="far fa-check-circle"></i> Custom Domain Name</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Complimentary Hosting</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Web Development</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Custom Scripting</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Unlimited Products</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Up To 15 Apps*</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Stripe Integration</span><br>
                </p>
            </div>
            <div class="col-6">
                <p class="infront text-black">
                    <span class="hover-white"><i class="far fa-check-circle"></i> Social Media</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Email Marketing Lists</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Technical SEO</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> On Page SEO</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Off Page SEO</span><br>
                    <span class="hover-white"><i class="far fa-check-circle"></i> Graphics</span>
                </p>
            </div>
            <h3 class="h2 gold-title">Price:</h3>
            <p class="infront text-center">
                <span class="hover-white lead text-warning px-5 price-fade">€1499.99 / Year</span>
            </p>
        </div>
    </div>
    <div class="col-12 text-center infront">
        <form action="{% url 'add_to_cart' 12 %}" method="POST">
            {% csrf_token %}
            <input type="number" class="hidden" name="quantity" value="1" data-item_id="12" id="id_qty_12">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
            <button type="submit" class="btn btn-lg rounded-3 btn-success btn-outline-black px-5 py-3 hover-bg-gold" id="sign-up-btn">
                Sign Up
            </button>
        </form>
        <p class="h1 gold-down-arrow">
            <i class="fas fa-chevron-down fa-lg pointer"></i>
        </p>
    </div>
</div>

<div class="container-fluid g-0 relative overflow-hidden" >
    <div class="gold-haze"></div>
    <div class="row g-0 m-0 px-5 w-100 relative infront" id="description">
        <div class="col-12 text-center infront mt-5 pt-5">
            <h2 class="h1 logo-font gold-title">
                Why Sign Up For Our Gold Plan?
            </h2>
        </div>
        <div class="g-0 h-100 w-100 absolute desc-bg"></div>
        <div id="descriptionCarousel" class="carousel slide infront py-5" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Custom Domain
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Each of our gold plans comes inclusive of a custom & unique domain name. This will 
                                help create branding around your new website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Hosting
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Our hosting is located on servers within the EU and USA. We will look after all 
                                of your hosting needs throughout the duration of your plan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Development
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Our custom development will allow a fully unique website that is built specific 
                                for your individual needs. This development will be carried out in consultation with 
                                you to ensure our team deliver your vision.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Scripting
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                When needed, our development team will customize unique scripts to allow functionality 
                                of your website to give a positive user experience and help expand your brand.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Custom Apps
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Each of our Django created websites will come with various apps of your choosing, these 
                                apps can vary from custom checkouts, to blogs, shopping carts and more. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Payment Processing
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                All of our gold plans comes with payment processing gateways, such as Stripe or PayPal.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Social Media
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Each website will come with an official social media account on multiple platforms, including
                                Facebook and Twitter.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Email Marketing
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Each platform we build will use various lead generation methods to build an email marketing list.
                                These lists can be used in the automated email marketing campaign of your new website.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white bg-dark rounded-2 py-4">
                            <h3 class="logo-font fst-italic">
                                Search Engine Optimization
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Each plan comes with search engine optimization which will help your website get noticed online. This 
                                step is vital and will remain actively monitored and updated throughout your subscription period.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center text-white">
                            <h3 class="logo-font fst-italic">
                                Graphics
                            </h3>
                            <div class="d-flex justify-content-center">
                                <hr class="white-hr w-50">
                            </div>
                            <p>
                                Where needed, custom graphics will be made and added to your website to help promote positive user 
                                experience throughout your website.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 mb-2 w-100 relative" id="contact-gold">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 d-inline align-middle">
            <div class="contact-image mb-5 infront">
                <img src="{{MEDIA_URL}}rocket.png" alt="Rocket" class="box-shadow">
            </div>
            <h2 class="h1 gold-title logo-font text-center">Want To Know More?</h2>
            <form method="post" action="{% url 'gold' %}" class="mt-5 pt-5">
                {% csrf_token %}
                <h3>Drop Us a Message!</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" id="txtName" class="form-control btn-outline-black mb-1" placeholder="Your Name *" value="" required validate>
                            <label for="txtName" class="sr-only">Please Enter Your Name</label>
                        </div>
                        <div class="form-group">
                            <input type="email" name="txtEmail" id="txtEmail" class="form-control btn-outline-black mb-1" placeholder="Your Email *" value="" required validate>
                            <label for="txtEmail" class="sr-only">Please Enter Your Email</label>
                        </div>
                        <div class="form-group">
                            <input type="number" name="txtPhone" id="txtPhone" class="form-control btn-outline-black mb-1" placeholder="Your Phone Number *" value="" required>
                            <label for="txtPhone" class="sr-only">Please Enter Your Phone Number</label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btn btn-lg btn-success btn-outline-black mb-1 w-100" value="Send Message" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtMsg" class="sr-only">Please enter your message here</label>
                            <textarea name="txtMsg" id="txtMsg" class="form-control btn-outline-black mb-1" placeholder="Your Message *" style="width: 100%; height: 175px;" required></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{block.super}}
<script type="text/javascript">
    $('#feedback-carousel').hide();
    $('#start').click(function(){
        $('#start').hide();
        $('#feedback-carousel').fadeIn(3000);
    });
    $('#home-hero').mouseenter(function(){
        $('.title').css("color", "#d4af37").css("transition", "all 1s ease-in-out");
    })
    $('#home-hero').mouseleave(function(){
        $('.title').css("color", "#000").css("transition", "all 1s ease-in-out");
    })

    $('.gold-down-arrow').click(function (e) { 
        let next_row = $('#description');
        $('html, body').animate({
            scrollTop: $(next_row).offset().top - 20
        }, 'slow');
    });
    // Steps section
    $.fn.isInViewport = function() {
        let elementTop = $(this).offset().top;
        let elementBottom = elementTop + $(this).outerHeight();

        let viewportTop = $(window).scrollTop();
        let viewportBottom = viewportTop + $(window).height();

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    $(window).on('resize scroll', function() {
        if ($('#steps').isInViewport()) {

        } else {

        }
        if ($('#whyList').isInViewport()) {

        }else{

        }
    });

    
</script>


{% endblock %}