{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Find the latest managed web design offers and great deals at ManageMyWeb.org">
{% endblock %}

{% block page_header %}
    <!--Override Top Margin-->
{% endblock %}

{% block content %}
<h1 class="logo-font text-center text-black mt-5 text-decoration-underline">subscriptions</h1>

<div class="container box-shadow mb-5">
    <div class="col-12 col-sm-12 offset-sm-0 col-md-10 offset-md-1 text-center p-3">
        <h2 class="text-muted mt-3">Why Subscribe?</h2>
        <div class="d-flex justify-content-center">
            <hr class="w-50 box-shadow">
        </div>
        <p class="text-black lead logo-font my-3"><em>
            <span class="text-primary btn btn-lg btn-outline-black" id="costs">cost efficiency</span> - 
            <span class="text-primary btn btn-lg btn-outline-black" id="staffing">staffing</span> - 
            <span class="text-primary btn btn-lg btn-outline-black" id="design">user experience</span> - 
            <span class="text-primary btn btn-lg btn-outline-black" id="returns">online returns</span> - 
            <span class="text-primary btn btn-lg btn-outline-black" id="pro">professional team</span> 
        </em></p>
        <div class="contained-info">
            <div class="row" id="costsText">
                <div class="col-12 col-sm-12 col-md-8">
                    <span class="lead text-muted h3">Cost Efficiency</span><br>
                    Our subscription service will provide a level of service that would normally require part time, or full time employees across several specializations. <br><br>
                    This means that our yearly fee, is a significant saving in comparison. Manage My Web also provides services at a fraction of the cost when compared to 
                    other agencies. <br><br>
                    Unlike hiring freelancers to build a website which may be cheaper, Manage My Web offers additional features, such as domain names, hosting, SSL certificates 
                    as well as regular updates to both your website source code, and SEO. <br><br>
                    With all of these aspects in mind, we are confident you will not find a better service, at the same cost.
                </div>
                <div class="col-12 col-sm-12 col-md-3"></div>
            </div>
            <div class="row" id="staffingText">
                <div class="col-12 col-sm-12 col-md-3"></div>
                <div class="col-12 col-sm-12 col-md-8">
                    <span class="lead text-muted h3">Staffing</span><br>
                    
                </div>
            </div>
            <div class="row" id="designText">
                <div class="col-12 col-sm-12 col-md-8">
                    <span class="lead text-muted h3">Cost Efficiency</span><br>
                    Our subscription service will provide a level of service that would normally require part time, or full time employees across several specializations. <br><br>
                    This means that our yearly fee, is a significant saving in comparison. Manage My Web also provides services at a fraction of the cost when compared to 
                    other agencies. <br><br>
                    Unlike hiring freelancers to build a website which may be cheaper, Manage My Web offers additional features, such as domain names, hosting, SSL certificates 
                    as well as regular updates to both your website source code, and SEO. <br><br>
                    With all of these aspects in mind, we are confident you will not find a better service, at the same cost.
                </div>
                <div class="col-12 col-sm-12 col-md-3"></div>
            </div>
            <div class="row" id="returnsText">
                <div class="col-12 col-sm-12 col-md-3"></div>
                <div class="col-12 col-sm-12 col-md-8">
                    <span class="lead text-muted h3">Cost Efficiency</span><br>
                    Our subscription service will provide a level of service that would normally require part time, or full time employees across several specializations. <br><br>
                    This means that our yearly fee, is a significant saving in comparison. Manage My Web also provides services at a fraction of the cost when compared to 
                    other agencies. <br><br>
                    Unlike hiring freelancers to build a website which may be cheaper, Manage My Web offers additional features, such as domain names, hosting, SSL certificates 
                    as well as regular updates to both your website source code, and SEO. <br><br>
                    With all of these aspects in mind, we are confident you will not find a better service, at the same cost.
                </div>
            </div>
            <div class="row" id="proText">
                <div class="col-12 col-sm-12 col-md-8">
                    <span class="lead text-muted h3">Cost Efficiency</span><br>
                    Our subscription service will provide a level of service that would normally require part time, or full time employees across several specializations. <br><br>
                    This means that our yearly fee, is a significant saving in comparison. Manage My Web also provides services at a fraction of the cost when compared to 
                    other agencies. <br><br>
                    Unlike hiring freelancers to build a website which may be cheaper, Manage My Web offers additional features, such as domain names, hosting, SSL certificates 
                    as well as regular updates to both your website source code, and SEO. <br><br>
                    With all of these aspects in mind, we are confident you will not find a better service, at the same cost.
                </div>
                <div class="col-12 col-sm-12 col-md-3"></div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{block.super}}
    <script type="text/javascript">
    $('#costsText').hide();
    $('#staffingText').hide();
    $('#designText').hide();
    $('#returnsText').hide();
    $('#proText').hide();
        $('#costs').click(function(){
            $(this).siblings().removeClass("text-success");
            $(this).toggleClass("text-success").toggleClass("font-weight-bold");
            $('#costsText').siblings().hide(500);
            $('#costsText').show(1000);
        })
        $('#staffing').click(function(){
            $(this).siblings().removeClass("text-success");
            $(this).toggleClass("text-success").toggleClass("font-weight-bold");
            $('#staffingText').siblings().hide(500);
            $('#staffingText').show(1000);
        })
        $('#design').click(function(){
            $(this).siblings().removeClass("text-success");
            $(this).toggleClass("text-success").toggleClass("font-weight-bold");
            $('#designText').siblings().hide(500);
            $('#designText').show(1000);
        })
        $('#returns').click(function(){
            $(this).siblings().removeClass("text-success");
            $(this).toggleClass("text-success").toggleClass("font-weight-bold");
            $('#returnsText').siblings().hide(500);
            $('#returnsText').show(1000);
        })
        $('#pro').click(function(){
            $(this).siblings().removeClass("text-success");
            $(this).toggleClass("text-success").toggleClass("font-weight-bold");
            $('#proText').siblings().hide(500);
            $('#proText').show(1000);
        })
    </script>
{% endblock %}