{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Find the latest managed web design offers and great deals at ManageMyWeb.org">
{% endblock %}

{% block page_header %}
    <!--Override Top Margin-->
{% endblock %}

{% block content %}
<h1 class="logo-font text-center text-black mt-5 text-decoration-underline">subscriptions</h1>

<div class="container box-shadow mb-5">
    <div class="col-12 col-sm-12 offset-sm-0 col-md-10 offset-md-1 text-center p-3">
        <h2 class="text-muted mt-3">Plans</h2>
        <div class="d-flex justify-content-center">
            <hr class="w-50 box-shadow">
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="box-shadow relative g-0 hover-bg-silver pointer rounded-3">
                    <div class="w-100 h-100 silver-plan absolute"></div>
                    <div class="d-flex justify-content-center infront">
                        <hr class="w-50 box-shadow mt-5">
                    </div>
                    <h2 class="text-center text-black infront my-3 h1">Silver <br>Plan</h2>
                    <div class="d-flex justify-content-center infront">
                        <hr class="w-50 box-shadow mb-5">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="box-shadow relative g-0 hover-bg-gold pointer rounded-3">
                    <div class="w-100 h-100 gold-plan absolute"></div>
                    <div class="d-flex justify-content-center infront">
                        <hr class="w-50 box-shadow mt-5">
                    </div>
                    <h2 class="text-center infront my-3 h1">Gold <br>Plan</h2>
                    <div class="d-flex justify-content-center infront">
                        <hr class="w-50 box-shadow mb-5">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center text-black my-2">
                <em class="small text-muted">
                    *Our plans are tailored for different website / platform types. If unsure which plan is right for you, 
                    please <a href="" class="text-decoration-none text-primary">contact us</a> prior to purchase.
                </em>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{block.super}}
    <script type="text/javascript">
        $('.silver-plan').hide();
        $('.gold-plan').hide();

        $('.hover-bg-silver').mouseenter(function(){
            $('.silver-plan').fadeIn(500);
        })
        $('.hover-bg-silver').mouseleave(function(){
            $('.silver-plan').hide(1500);
        })
        $('.hover-bg-gold').mouseenter(function(){
            $('.gold-plan').fadeIn(500);
        })
        $('.hover-bg-gold').mouseleave(function(){
            $('.gold-plan').hide(1500);
        })
        $('.hover-bg-silver').click(function(){
            let url = "{% url 'silver' %}";
            window.location.href = url;
        })
        $('.hover-bg-gold').click(function(){
            let url = "{% url 'gold' %}";
            window.location.href = url;
        })
    </script>
{% endblock %}