{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="logo-font mb-4">
                    {{ title }} <i class="fas fa-shopping-cart text-primary"></i>
                </h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr class="text-center">
                                    <th scope="col"><strong class="lead">Product Info <i class="fas fa-chevron-circle-right d-none d-lg-inline"></i></strong></th>
                                    <th scope="col"><u><em>Product Name</em></u></th>
                                    <th scope="col"><u><em>Price</em></u></th>
                                    <th scope="col"><u><em>Qty</em></u></th>
                                    <th scope="col"><u><em>Subtotal</em></u></th>
                                    <th scope="col"><!-- Delete Icon Column --></th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr class="my-auto">
                                    <td class="align-middle d-flex align-items-center">
                                        {% if item.product.image1 %}
                                            <img src="{{ item.product.image1.url }}" alt="{{ item.product.name}}" class="mx-auto img-fluid rounded cart-product-image">
                                        {% endif %}
                                    </td>
                                    <td class="w-25 text-center align-middle">
                                        <p class="my-0"><strong>{{item.product.name|title}}</strong></p>
                                        <p class="my-0"><strong class="small">Type: {% if item.product.plan == 2 %}Subscription{%else%}Product{%endif%}</strong></p>
                                        <p class="my-0 small text-muted">Category: {{item.product.category.friendly_name|title}}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="my-0">${{item.product.price}}</p>
                                    </td>
                                    <td class="pt-4 w-25">
                                        <div class="my-0 px-3 text-center">
                                            {% if item.product.plan == 2 %}
                                                <p class="text-muted">{{item.quantity}} Year</p>
                                            {% else %}
                                            <div class="w-100">
                                                <form method="POST" action="{% url 'adjust_cart' item.item_id %}" class="form update-form">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <div class="input-group w-100">
                                                            <div class="col-12 col-md-3 d-flex">
                                                                <div class="input-group-prepend mx-auto">
                                                                    <button class="decrement-qty btn btn-sm btn-qty rounded-0"
                                                                        data-item-id="{{item.product.id}}" id="decrement-qty_{{ item.product.id }}" disabled>
                                                                        <span>
                                                                            <i class="fas fa-minus fa-sm"></i>
                                                                        </span>
                                                                    </button>
                                                                    <button class="increment-qty btn btn-sm btn-qty rounded-0 d-md-none"
                                                                        data-item-id="{{item.product.id}}" id="increment-qty_{{ item.product.id }}">
                                                                        <span>
                                                                            <i class="fas fa-plus fa-sm"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-6">
                                                                <input type="number" class="w-100 form-control form-control-sm qty_input text-center" 
                                                                    name="quantity" value="{{item.quantity}}" min="0" max="{% if item.product.available %}{{item.product.available}}{% else %}10{% endif %}" 
                                                                    data-item_id={{item.product.id}} id="id_qty_{{item.product.id}}">
                                                                <input type="hidden" value="{{item.product.available}}" class="productAvailability">
                                                            </div>

                                                            <div class="col-12 col-md-3">
                                                                <div class="input-group-append mx-auto d-none d-md-block">
                                                                    <button class="increment-qty btn btn-sm btn-qty rounded-0 "
                                                                        data-item-id="{{item.product.id}}" id="increment-qty_{{ item.product.id }}">
                                                                        <span>
                                                                            <i class="fas fa-plus fa-sm"></i>
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <span class="text-danger topLimitMessage">Limit Reached</span>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="hidden updateValue"></button>
                                                </form>
                                                <p class="update-link text-primary text-center w-100">
                                                    <small><i class="fas fa-sync-alt"></i> Update</small>
                                                </p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="my-0 px-1">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                    <td class="align-middle">
                                        <i class="remove-item fas fa-trash-alt fa-lg text-danger" id="{{ item.product.id }}"></i>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if subscription %}
                                <tr>
                                    <td colspan="5">
                                        <div class="row">
                                            <div class="col-8 offset-2 box-shadow text-center mt-3">
                                                <h2 class="h3 pt-2 text-danger">
                                                    You Have A Subscription In Your Cart
                                                </h2>
                                                <h4 class="text-success">A 10% Discount Has Been Added To Your Entire Cart.</h4>
                                                <hr class="w-50 mx-auto pb-1">
                                                <p>
                                                    Please Note That The Following Product<span class="small">(</span>s<span class="small">)</span> Are Subscription Based:
                                                </p>
                                                <ul class="list-unstyled">
                                                    {% for i in cart_items %}
                                                        {% if i.product.plan == 2 %}
                                                            <li class="text-success text-uppercase">{{ i.product.name }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                                <p class="mx-auto">
                                                    If you do not already have an account with us, one will automatically be created 
                                                    for you at checkout. Please ensure your email and details are accurate at checkout.
                                                    <br><br>
                                                    Your Subscription Will Be Valid Until : <span class="text-success">{{ expiry }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                                <tr>
                                    <td colspan="5" class="pt-3 text-center text-lg-end">
                                        <h6><strong>Cart Total: ${{total|floatformat:2}}</strong></h6>
                                        <h6>+ Tax ({{tax_rate|floatformat:0}}%): ${{tax|floatformat:2}}</h6>
                                        {% if discount > 0 %}
                                        <h6 class="text-success">- Discount: ${{discount|floatformat:2}}</h6>
                                        {% endif %}
                                        <h4 class="mt-4"><strong>Grand Total: ${{grand_total|floatformat:2}}</strong></h4>
                                    </td>
                                </tr>
                                <tr>
                                <td colspan="5" class="text-center">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black btn-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn btn-success rounded-0 btn-lg btn-outline-black">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <h2 class="mb-5 text-black text-center">
                        Your Cart Is Empty
                    </h2>
                    <a href="{% url 'products' %}" class="btn rounded-0 btn-black btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">
                            Keep Shopping
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
{{block.super}}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
    //Update QTY on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        $(form).find('.updateValue').trigger('click');
    })
    // Remove Item From Cart
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id');
        let url = `/cart/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })

    </script>
{% endblock %}