{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <meta name="description" content="Manage My Web provide provide web development and SEO services at a fraction of the cost. See how we can help you today!">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block page_header %}
    <!--Override Top Margin-->
{% endblock %}

{% block content %}

    <div class="container-fluid g-0 h-100 infront" id="home-hero">
        <div class="row h-100">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 my-auto">
                <h1 class="display-4 logo-font text-black text-center">
                    Professional 
                    <span class="text-success">Web Design</span> and 
                    <span class="text-success">SEO</span> 
                </h1>
                <div class="home-subtitle pt-5 align-middle">
                    <h2 class="h3 text-success text-center">
                        <span class="typewrite p-1 logo-font" data-period="2000" data-type='[ "Web Design", "Graphic Design", "eCommerce", "Portfolios", "Scripting", "UX Design", "Turnkey Websites" ]'>
                            <span class="wrap"></span>
                        </span>
                    </h2>
                </div>
                <div class="my-5">
                    <h4 class="text-center">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text rounded-0 text-uppercase py-3">
                            Shop Now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="homeCards">
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-1 mx-auto">
            <div class="card w-lg-75 box-shadow">
                <h3 class="h5 card-header text-center text-success bg-card">Web Design</h3>
                <div class="card-body text-center">
                    <h3 class="h5 card-title text-white text-shadow">In Need A Professional Website?</h3>
                    <p class="card-text text-white text-shadow small">We Provide A Selection Of Bespoke Web Development Services.</p>
                    <a href="{% url 'about' %}#webDev" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0 mx-auto">
            <div class="card w-lg-75 box-shadow">
                <h3 class="h5 card-header text-center text-success bg-card">Website Management</h3>
                <div class="card-body text-center">
                    <h3 class="h5 card-title text-white text-shadow">Maintain Your Online Presence</h3>
                    <p class="card-text text-white text-shadow small">We Provide Website Management Services To Deliver Turnkey Solutions.</p>
                    <a href="{% url 'website-management' %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0 mx-auto mb-5">
            <div class="card w-lg-75 box-shadow">
                <h3 class="h5 card-header text-center text-success bg-card">SEO</h3>
                <div class="card-body text-center">
                    <h3 class="h5 card-title text-white text-shadow">Get Noticed Online</h3>
                    <p class="card-text text-white text-shadow small">Increase Search Engine Rankings With Search Engine Optimization.</p>
                    <a href="{% url 'seo'%}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pb-5 w-100" id="bg-business">
        <div class="row my-5 g-0">
            <div class="col-12 col-sm-10 offset-sm-1" id="whyChooseUs">
                <div class="bg-haze text-center my-5 overflow-hidden rounded-3">
                    <h2 class="h1 logo-font mt-5 text-black">
                        <span class="text-success">Why</span> <span class="underline-success">choose us?</span>
                    </h2>
                    <h3 class="logo-font text-black">
                        We Provide <span class="underline-success">Solutions</span>
                    </h3>
                    <div class="row mt-lg-5 py-5 align-middle">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-3 offset-md-0 py-3 px-1" id="showWebDes">
                            <div class="w-100 py-3 pointer">
                                <div class="w-100 d-flex justify-content-center card-img">
                                    <img src="{{MEDIA_URL}}web-design.png" alt="Web design icon">
                                </div>
                                <h5 class="h4 py-2 font-weight-bold text-success text-center fst-italic">Web Design</h5>
                                <div class="d-flex justify-content-center">
                                    <p class="w-75 lead text-black">
                                        We can provide websites for almost any market.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-3 offset-md-0 py-3 px-1" id="showUxDes">
                            <div class="w-100 py-3 pointer">
                                <div class="w-100 d-flex justify-content-center card-img">
                                    <img src="{{MEDIA_URL}}ux.png" alt="UX design icon">
                                </div>
                                <h5 class="h4 py-2 font-weight-bold text-success text-center fst-italic">UX Design</h5>
                                <div class="d-flex justify-content-center">
                                    <p class="w-75 lead text-black">
                                        We build solutions based on UX principles
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-3 offset-md-0 py-3 px-1" id="showSeo">
                            <div class="w-100 py-3 pointer">
                                <div class="w-100 d-flex justify-content-center card-img">
                                    <img src="{{MEDIA_URL}}seo.png" alt="SEO icon">
                                </div>
                                <h5 class="h4 py-2 font-weight-bold text-success text-center fst-italic">SEO</h5>
                                <div class="d-flex justify-content-center">
                                    <p class="w-75 lead text-black">
                                        We provide SEO services to boost website rankings.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-3 offset-md-0 py-3 px-1" id="showWebDev">
                            <div class="w-100 py-3 pointer">
                                <div class="w-100 d-flex justify-content-center card-img">
                                    <img src="{{MEDIA_URL}}web-programming.png" alt="Web programming icon">
                                </div>
                                <h5 class="h4 py-2 font-weight-bold text-success text-center fst-italic">Bespoke Development</h5>
                                <div class="d-flex justify-content-center">
                                    <p class="w-75 lead text-black">
                                        A team of developers on standby, ready to assist you.
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" id="webDes">
                            <h3 class="logo-font">Web Design</h3>
                            <div class="w-100 d-flex justify-content-center">
                                <hr class="w-25 pb-1">
                            </div>
                            <p class="text-black">
                                Our web design teams provide websites that are based on user expectations whilst following the latest 
                                in UX design and other metrics to help provide a simplistic design, with maximum functionality to 
                                give your visitors a positive user experience and maintain high levels of satisfaction.
                            </p>
                        </div>
                        <div class="col-12" id="uxDes">
                            <h3 class="logo-font">UX Design</h3>
                            <div class="w-100 d-flex justify-content-center">
                                <hr class="w-25 pb-1">
                            </div>
                            <p class="text-black">
                                Part of our development process includes UX design. This key area of development will allow us to question, 
                                and provide answers to the 5 planes of UX which will help in delivering a website that is user friendly, 
                                provides purpose, and meets users expectations, whilst being easy to use and navigate through.
                            </p>
                        </div>
                        <div class="col-12" id="seoDes">
                            <h3 class="logo-font">SEO</h3>
                            <div class="w-100 d-flex justify-content-center">
                                <hr class="w-25 pb-1">
                            </div>
                            <p class="text-black">
                                All websites need some form of SEO to allow search engines gather information on what the website is, who it 
                                targets, and what it contains. Our websites are all built with SEO in mind, integrating technical SEO from 
                                the foundations will allow for easy manipulation and implementation of SEO strategies for future traffic targetting.
                            </p>
                        </div>
                        <div class="col-12" id="webDev">
                            <h3 class="logo-font">Web Development</h3>
                            <div class="w-100 d-flex justify-content-center">
                                <hr class="w-25 pb-1">
                            </div>
                            <p class="text-black">
                                Our web developers are well versed in multiple programming languages, this allows us to provide custom development 
                                features to help provide unmatched website functionality. This flexability in programming languages such as HTML, 
                                CSS, Javascript, jQuery, Python, Flask, Django and SQL paired with knowledge of machine learning and automation means 
                                that we can provide website functionality that is seldom found at regular web development agencies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5" id="bottom-text">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="h1 logo-font text-black">Manage My Web</h2>
                    <hr class="w-25 mx-auto">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mb-2">
                    <p class="lead">
                        Manage My Web is one stop shop for individuals, and businesses alike. We offer web design, web development and SEO solutions
                        that will enhance your online capabilities and search ratings. We do this through building responsive websites, with the latest in UX 
                        design and ensuring high quality user experience on all of our projects.
                    </p>
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-0 py-5">
                    <div class="row">
                        <div class="col-11 text-center py-3 px-3">
                            <p class="">
                                Manage My Web offer a range of services across multiple areas of expertise, our aim is to provide individuals and businesses 
                                with an affordable way to get their website, store, portfolio or other projects online. <br><br>
                                Although we offer a range of products that are ready to buy 'off the shelf', our main area of expertise comes with our package, 
                                subscription services. These subscriptions come with a wide range of additional features which will be beneficial to you, your 
                                business, and your future users. Our subscription services are what separates Manage My Web from other 'standard' web development 
                                agencies. <br><br>
                            </p>
                        </div>
                        <div class="col-1 m-auto">
                            <i class="fas fa-arrow-alt-circle-right text-success fa-lg float-end"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-0">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="h4 pt-5"><u>Plans Include:</u></h3>
                        </div>
                        <div class="col-5 text-center pt-5">
                            <p class="lead w-100 bg-silver rounded-3 mb-3"><i class="fas fa-gem text-black"></i> <u>Silver Plan</u> <i class="fas fa-gem text-black"></i></p>
                            <ul class="list-unstyled lh-3">
                                <li><em>Custom Domain</em></li>
                                <li><em>Hosting Plan</em></li>
                                <li><em>Website*</em></li>
                                <li><em>On Page SEO</em></li>
                                <li><em>Updates</em></li>
                            </ul>
                        </div>
                        <div class="col-7 text-center pt-5">
                            <div class="row">
                                <div class="col-12">
                                    <p class="lead w-100 bg-gold rounded-3 mb-3"><i class="fas fa-gem text-black"></i> <u>Gold Plan</u> <i class="fas fa-gem text-black"></i></p>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled lh-3">
                                        <li><em>Custom Domain</em></li>
                                        <li><em>Hosting Plan</em></li>
                                        <li><em>Website*</em></li>
                                        <li><em>On Page SEO</em></li>
                                        <li><em>Off Page SEO</em></li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul class="list-unstyled lh-3">
                                        <li><em>Technical SEO</em></li>
                                        <li><em>Security</em></li>
                                        <li><em>Monthly Meeting</em></li>
                                        <li><em>Affiliate Marketing</em></li>
                                        <li><em>API Integration</em></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 py-2 text-center">
                            <p class="small">* Website Types May Be Limited Depending On Plan Type.</p>
                            <a href="{% url 'subscription' %}" class="btn btn-lg btn-black rounded-0 logo-font">View subscription plans</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %} 
{{ block.super }}
    <script type="text/javascript">
        $('#webDes').hide();
        $('#uxDes').hide();
        $('#seoDes').hide();
        $('#webDev').hide();
        
        $('#showWebDes').click(function(){
            $('#webDes').siblings().slideUp();
            $('#webDes').slideDown(1500);
        });
        $('#showUxDes').click(function(){
            $('#uxDes').siblings().slideUp();
            $('#uxDes').slideToggle(1500);
        });
        $('#showSeo').click(function(){
            $('#seoDes').siblings().slideUp();
            $('#seoDes').slideToggle(1500);
        });
        $('#showWebDev').click(function(){
            $('#webDev').siblings().slideUp();
            $('#webDev').slideToggle(1500);
        });
    // Typing Effect
        let TxtType = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function() {
            let i = this.loopNum % this.toRotate.length;
            let fullTxt = this.toRotate[i];

            if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

            let that = this;
            let delta = 200 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
            }

            setTimeout(function() {
            that.tick();
            }, delta);
        };

        window.onload = function() {
            let elements = document.getElementsByClassName('typewrite');
            for (let i=0; i<elements.length; i++) {
                let toRotate = elements[i].getAttribute('data-type');
                let period = elements[i].getAttribute('data-period');
                if (toRotate) {
                new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
        };
        $('.chooseItems').mouseenter(function(){
            $(this).find("i").addClass('text-primary');
            $(this).find(".chooseHeading").addClass('text-primary');
            $(this).find("i").removeClass('text-success');
            $(this).find(".chooseHeading").removeClass('text-success');
        })
        $('.chooseItems').mouseleave(function(){
            $(this).find("i").removeClass('text-primary');
            $(this).find(".chooseHeading").removeClass('text-primary');
            $(this).find("i").addClass('text-success');
            $(this).find(".chooseHeading").addClass('text-success');
        })

    </script>
{% endblock %}