{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block page_header %}
    <!--Override Top Margin-->
{% endblock %}

{% block content %}

    <div class="container-fluid g-0 h-100" id="home-hero">
        <div class="row h-100">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 my-auto">
                <h1 class="display-4 logo-font text-black text-center">
                    Professional 
                    <span class="text-success">Web Design</span> and 
                    <span class="text-success">SEO</span> 
                </h1>
                <div class="home-subtitle pt-5 align-middle">
                    <h2 class="h3 text-success text-center">
                        <span class="typewrite p-1 logo-font" data-period="2000" data-type='[ "Web Design", "Graphic Design", "eCommerce", "Portfolios", "Scripting", "UX Design", "Turnkey Websites" ]'>
                            <span class="wrap"></span>
                        </span>
                    </h2>
                </div>
                <div class="my-5">
                    <h4 class="text-center">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text rounded-0 text-uppercase py-3">
                            Shop Now
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="homeCards">
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-1 mx-auto">
            <div class="card w-lg-75 box-shadow">
                <h3 class="h5 card-header text-center text-black bg-success">Professional Web Design</h3>
                <div class="card-body text-center">
                    <h3 class="h5 card-title text-primary">Do You Need A Professional Website?</h3>
                    <p class="card-text">We Provide A Selection Of Services That Are Designed To Help You.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0 mx-auto">
            <div class="card w-lg-75 box-shadow">
                <h3 class="h5 card-header text-center text-black bg-success">Website Management</h3>
                <div class="card-body text-center">
                    <h3 class="h5 card-title text-primary">Do You Need A Professional To Look After Your Website?</h3>
                    <p class="card-text">We Provide Premium Services To Create & Manage Websites.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0 mx-auto mb-5">
            <div class="card w-lg-75 box-shadow">
                <h3 class="h5 card-header text-center text-black bg-success">SEO</h3>
                <div class="card-body text-center">
                    <h3 class="h5 card-title text-primary">Get Noticed Online With Search Engine Optimization</h3>
                    <p class="card-text">Get The Traffic You Deserve! See How We Can Help Improve Your Search Rank.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid g-0 m-0 bg-business">
        <div class="row h-100">
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-7 offset-lg-0 relative" id="whyChooseUs">
                <div class="haze-white"></div>
                <div class="infront relative text-center">
                    <h2 class="h1 logo-font mt-5 text-black">
                        <span class="text-success">Why</span> <span class="underline-success"></span>choose us?
                    </h2>
                    <div class="row mt-lg-5 align-middle">
                        <!-- Icons -->
                        <div class="col-6 border-right">
                            <div class="row py-5">
                                <div class="col-2 d-none d-md-block offset-2 pt-2 text-center">
                                    <p class="h1 py-auto"><i class="pt-3 text-success fab fa-searchengin"></i></p>
                                    <p class="small text-black"><br></p>
                                    <p class="h1 py-auto"><i class="pt-3 text-success fas fa-tachometer-alt"></i></p>
                                    <p class="small text-black"><br></p>
                                    <p class="h1 py-auto"><i class="pt-2 text-success fas fa-award"></i></p>
                                    <p class="small text-black"><br></p>
                                </div>
                                <div class="col-8 text-start">
                                    <p class="h1 pt-1 text-success">SEO</p>
                                    <p class="small text-black">SEO Friendly Websites</p>
                                    <p class="h1 pt-1 text-success">Speed</p>
                                    <p class="small text-black">Website Performance</p>
                                    <p class="h1 pt-1 text-success">Quality</p>
                                    <p class="small text-black">Qualified Developers</p>
                                </div>
                            </div>
                        </div>
                        <!-- Text -->
                        <div class="col-6">
                            <div class="row py-5">
                                <div class="col-2 d-none d-md-block offset-3 pt-2 text-center">
                                    <p class="h1 py-auto"><i class="pt-3 text-success fas fa-laptop-code"></i></p>
                                    <p class="small text-black"><br></p>
                                    <p class="h1 py-auto"><i class="pt-2 text-success fas fa-dollar-sign"></i></p>
                                    <p class="small text-black"><br></p>
                                    <p class="h1 py-auto"><i class="pt-3 text-success fas fa-redo"></i></p>
                                    <p class="small text-black"><br></p>
                                </div>
                                <div class="col-7 text-start">
                                    <p class="h1 pt-1 text-success">Code</p>
                                    <p class="small text-black">Custom Coding</p>
                                    <p class="h1 pt-1 text-success">Cost</p>
                                    <p class="small text-black">Cost Efficiency</p>
                                    <p class="h1 pt-1 text-success">Revisions</p>
                                    <p class="small text-black">Revisions Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 g-0 col-sm-10 offset-sm-1 col-lg-5 offset-lg-0 relative">
                <div class="haze-black"></div>
                <div class="infront relative text-center my-auto mx-auto h-100" id="rightHomeCol">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h1 logo-font text-black">Manage My Web</h2>
                <hr class="w-25 mx-auto">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mb-2">
                <p class="lead">
                    Manage My Web is one stop shop for individuals, and businesses alike. We offer web design, web development and SEO solutions
                    that will enhance your online capabilities and search ratings. We do this through building responsive websites, with the latest in UX 
                    design and ensuring high quality user experience on all of our projects.
                </p>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-0 py-5">
                <div class="row">
                    <div class="col-11 text-center py-3 px-3">
                        <p class="">
                            Manage My Web offer a range of services across multiple areas of expertise, our aim is to provide individuals and businesses 
                            with an affordable way to get their website, store, portfolio or other projects online. <br><br>
                            Although we offer a range of products that are ready to buy 'off the shelf', our main area of expertise comes with our package, 
                            subscription services. These subscriptions come with a wide range of additional features which will be beneficial to you, your 
                            business, and your future users. Our subscription services are what separates Manage My Web from other 'standard' web development 
                            agencies. <br><br>
                        </p>
                    </div>
                    <div class="col-1 m-auto">
                        <i class="fas fa-arrow-alt-circle-right text-success fa-lg float-end"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-0">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="h4 pt-5"><u>Plans Include:</u></h3>
                    </div>
                    <div class="col-5 text-center pt-5">
                        <p class="lead w-100 bg-silver rounded-3 mb-3"><i class="fas fa-gem text-black"></i> <u>Silver Plan</u> <i class="fas fa-gem text-black"></i></p>
                        <ul class="list-unstyled lh-3">
                            <li><em>Custom Domain</em></li>
                            <li><em>Hosting Plan</em></li>
                            <li><em>Website*</em></li>
                            <li><em>On Page SEO</em></li>
                            <li><em>Updates</em></li>
                        </ul>
                    </div>
                    <div class="col-7 text-center pt-5">
                        <div class="row">
                            <div class="col-12">
                                <p class="lead w-100 bg-gold rounded-3 mb-3"><i class="fas fa-gem text-black"></i> <u>Gold Plan</u> <i class="fas fa-gem text-black"></i></p>
                            </div>
                            <div class="col-6">
                                <ul class="list-unstyled lh-3">
                                    <li><em>Custom Domain</em></li>
                                    <li><em>Hosting Plan</em></li>
                                    <li><em>Website*</em></li>
                                    <li><em>On Page SEO</em></li>
                                    <li><em>Off Page SEO</em></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-unstyled lh-3">
                                    <li><em>Technical SEO</em></li>
                                    <li><em>Security</em></li>
                                    <li><em>Monthly Meeting</em></li>
                                    <li><em>Affiliate Marketing</em></li>
                                    <li><em>API Integration</em></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 py-2 text-center">
                        <p class="small">* Website Types May Be Limited Depending On Plan Type.</p>
                        <a href="" class="btn btn-lg btn-black rounded-0 logo-font">View subscription plans</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    <script type="text/javascript">
    // Typing Effect
        let TxtType = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function() {
            let i = this.loopNum % this.toRotate.length;
            let fullTxt = this.toRotate[i];

            if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

            let that = this;
            let delta = 200 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
            }

            setTimeout(function() {
            that.tick();
            }, delta);
        };

        window.onload = function() {
        let elements = document.getElementsByClassName('typewrite');
        for (let i=0; i<elements.length; i++) {
            let toRotate = elements[i].getAttribute('data-type');
            let period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
    };
</script>
{% endblock %}