{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <h1 id="header" class="logo-font mb-4 h2">My Profile</h1>
            {% if orders %}
            <div id="carouselOrders" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-black">
                    <div class="carousel-item text-center active">
                        <p class="lead text-secondary">Your Purchase History</p>
                    </div>
                    {% for line in line_items %}
                    <div class="carousel-item text-center">
                        <p class="lead text-secondary">
                            <span class="mx-2">Name: {{ line.product }} </span> 
                            <span class="mx-2">Quantity: {{ line.quantity }} </span>
                            <span class="mx-2">Total (Excluding Tax): {{ line.lineitem_total }}</span>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev bg-success" href="#carouselOrders" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next bg-success" href="#carouselOrders" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% else %}
            <div class="row text-center">
                <p class="logo-font lead">Looks Like You Dont Have Any Orders... <span class="btn btn-md btn-black"><a href="{% url 'products' %}">Shop Now</a></span></p>
            </div>
            {% endif %}
            <hr>
        </div>
    </div>
</div>

<div class="container-fluid overflow-hidden" id="main-profile-page-wrap">
    <div class="container-fluid my-5">
        <!--Profile Links-->
        <div class="row">
            <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-md-8 offset-md-2 box-shadow relative overflow-hidden" id="profile-dashboard-card">
                <!--Blur-->
                <div class="profile-btn-background glass"></div>

                <!--Image Backgrounds-->
                <div class="profile-btn-background" id="profile-card-background">
                    <img class="h-100 w-100" src="{{ MEDIA_URL }}profile-btn.jpg" alt="Several unopened doors">
                </div>
                <div class="profile-btn-background" id="seo-background">
                    <img class="h-100 w-100" src="{{ MEDIA_URL}}seo-btn.jpg" alt="Several unopened doors">
                </div>
                <div class="profile-btn-background" id="website-profile-background">
                    <img class="h-100 w-100" src="{{ MEDIA_URL}}websites-btn.jpg" alt="Several unopened doors">
                </div>
                <div class="profile-btn-background" id="orders-profile-background">
                    <img class="h-100 w-100" src="{{ MEDIA_URL}}receipt.jpg" alt="Several unopened doors">
                </div>
                <div class="profile-btn-background" id="rating-profile-background">
                    <img class="h-100 w-100" src="{{ MEDIA_URL}}rating.jpg" alt="Several unopened doors">
                </div>

                <!--Buttons-->
                <div class="py-5">
                    <div class="row relative infront">
                        <div class="col-6 offset-3 text-center">
                            <a href="" class="btn btn-lg btn-black p-2 my-2 border w-100 mt-5" id="edit-profile-btn">
                                Edit Profile
                            </a>
                        </div>
                    </div>
                    <div class="row relative infront">
                        <div class="col-6 offset-3 text-center">
                            <a href="" class="btn btn-lg btn-black p-2 my-2 border w-100" id="seo-profile-btn">
                                Search Engine Optimization
                            </a>
                        </div>
                    </div>
                    <div class="row relative infront">
                        <div class="col-6 offset-3 text-center">
                            <a href="" class="btn btn-lg btn-black p-2 my-2 border w-100" id="web-profile-btn">
                                My Websites
                            </a>
                        </div>
                    </div>
                    <div class="row relative infront">
                        <div class="col-6 offset-3 text-center">
                            <a href="" class="btn btn-lg btn-black p-2 my-2 border w-100" id="order-profile-btn">
                                Order History
                            </a>
                        </div>
                    </div>
                    <div class="row relative infront">
                        <div class="col-6 offset-3 text-center">
                            <a href="" class="btn btn-lg btn-black p-2 my-2 border w-100 mb-5" id="meeting-profile-btn">
                                Schedule Meeting
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid overflow-hidden" id="edit-profile">
    <div class="row h-100">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2 text-center py-5 d-block justify-content-middle bg-dark" id="menu">
            <h3 class="logo-font mt-3 text-success">Menu:</h3>
            <a class="btn btn-md btn-black text-center w-50 my-2" id="edit-profile-details" aria-disabled="false">Edit Profile</a>
            <a class="btn btn-md btn-black text-center w-50 my-2" id="view-seo" aria-disabled="false">SEO</a>
            <a class="btn btn-md btn-black text-center w-50 my-2" id="view-web" aria-disabled="false">Websites</a>
            <a class="btn btn-md btn-black text-center w-50 my-2" id="view-orders" aria-disabled="false">Orders</a>
            <a class="btn btn-md btn-black text-center w-50 my-2" id="view-rating" aria-disabled="false">Ratings</a>
        </div>
        <div class="items col-12 col-md-8 col-lg-9 col-xl-10 py-5 bg-dark">
            <div class="w-100 h-100" id="update-profile-info">
                <h3 class="logo-font mt-3 text-center text-success">Update Profile:</h3>
                <div class="w-100 d-flex justify-content-center">
                    <hr class="w-50">
                </div>
                <div class="row" id="firstProfEdit">
                    <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                        <h3 class="logo-font underline-success text-success">Current Profile Data:</h3>
                        <div class="row">
                            <p>
                                <span class="text-black fst-italic">Name</span> : <span class="text-white small text-center">{{profile.full_name}}</span> <br>
                                <span class="text-black fst-italic">Email</span> : <span class="text-white small text-center">{{profile.email}}</span><br>
                                <span class="text-black fst-italic">Phone</span> : <span class="text-white small text-center">{{profile.phone_number}}</span><br>
                                <span class="text-black fst-italic">Country</span> : <span class="text-white small text-center">{{profile.country}}</span><br>
                                <span class="text-black fst-italic">Town / City</span> : <span class="text-white small text-center">{{profile.town_or_city}}</span><br>
                            </p>
                            <p>
                                <span class="text-black fst-italic">Postcode</span> : <span class="text-white small">{{profile.postcode}}</span><br>
                                <span class="text-black fst-italic">Address</span> : <span class="text-white small">{{profile.street_address1}}</span><br>
                                <span class="text-black fst-italic">Address (cont.)</span>   <span class="text-white small">{{profile.street_address2}}</span><br>
                                <span class="text-black fst-italic">Subscription</span> : <span class="text-white small">{{profile.subscription}}</span><br>
                                <span class="text-black fst-italic">Subscription Expiry</span> : <span class="text-white small">{{profile.subscription_expiry}}</span><br>
                            </p>
                            <h5 class="logo-font text-black text-center mt-4">Would You Like To Edit This Data?</h5>
                            <p class="text-center">
                                <span class="btn btn-md btn-primary border-black px-3">No</span>
                                <span class="btn btn-md btn-warning border-black px-3" id="yesEdit">Yes</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" id="secProfEdit">
                    <form action="{% url 'user_profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                                <fieldset class="rounded px-3 mb-5 detailsSet" id="personal-details">
                                    <legend class="fieldset-label small text-black mx-2 w-100"><em>Personal Details:</em></legend>
                                    {{ form.full_name | as_crispy_field }}
                                    {{ form.email | as_crispy_field }}
                                    {{ form.phone_number | as_crispy_field }}
                                    <p>
                                        <span class="btn btn-lg btn-info  rounded-0 px-3 my-2" id="go-back"><i class="fas fa-angle-left"></i> Back</span>
                                        <span class="btn btn-lg btn-black rounded-0 px-3 my-2" id="go-billing">Next <i class="fas fa-angle-right"></i></span>
                                    </p>
                                </fieldset>
                                <fieldset class="rounded px-3 mb-5 billingSet" id="billing-details">
                                    <legend class="fieldset-label small text-black mx-2 w-100"><em>Billing Address:</em></legend>
                                    {{ form.town_or_city | as_crispy_field }}
                                    {{ form.street_address1 | as_crispy_field }}
                                    {{ form.street_address2 | as_crispy_field }}
                                    {{ form.postcode | as_crispy_field }}
                                    {{ form.country | as_crispy_field }}
                                    <p>
                                        <span class="btn btn-lg btn-black rounded-0 px-3 my-2" id="go-personal"><i class="fas fa-angle-left"></i> Previous</span>
                                        <span><button type="submit" class="btn btn-lg btn-success btn-outline-black rounded-0 px-3 my-2" id="submit-info">Submit <i class="fas fa-angle-right"></i></button></span>
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="w-100 h-100" id="seo-info-profile">
                <h3 class="logo-font mt-3 text-center text-success">SEO News:</h3>
                <div class="w-100 d-flex justify-content-center">
                    <hr class="w-50">
                </div>
                <h4 class="h1 text-center text-white">Feature Coming Soon</h4>
                <p class="text-white text-center">
                    Soon our customers will be able to track their SEO rankings and updates automatically 
                    within this tab. This feature will allow you to follow all of our SEO updates, including 
                    strategies, targetted keywords, and ranking.
                </p>
            </div>
            <div class="w-100 h-100" id="orders-profile">
                <h3 class="logo-font mt-3 text-center text-success">Your Orders:</h3>
                <div class="w-100 d-flex justify-content-center">
                    <hr class="w-50">
                </div>
                {% if orders %}
                    <div class="row">
                        <p class="lead h4 text-black text-center">You Have Purchased {{line_items|length}} {% if line_items|length == 1 %}Item{% else %}Items{% endif %}</p>
                        <p class="lead h4 text-black text-center">Total Spent: {{ price }} <span class="small">*Excl. Tax</span></p>


                        {% for line in line_items %}
                        <!--

                            Carousel with .d-none .lg-block (2 items)
                            Carousel with d.lg-none (1 item)
                        -->
                            <div class="col-12 col-sm-12 col-lg-6 g-3 rounded-3 overflow-hidden">
                                <div class="orderContainer">
                                    <div class="header">
                                        <div class="order-summary">
                                            <div class="order-status">Order date:</div>
                                            <div class="order-date">
                                                {{line.order.date|naturaltime}}
                                            </div>
                                            <div class="order-day">
                                                {{line.order.date.date}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hero-img-container">
                                        <div class="triangle1"></div>
                                        <div class="arc"></div>
                                        <div class="pattern"></div>
                                        {% if line.product.image1 %}
                                        <img src="{{line.product.image1.url}}" class="hero-img">
                                        {% else %}
                                        <img src="{{MEDIA_URL}}noimage.jpg" class="hero-img">
                                        {% endif %}
                                    </div>
                                    <div class="prodName">
                                        {{line.product.name}}
                                    </div>
                                    <div class="order-status-container">
                                        <span class="sr-only progBar">
                                            {% if line.delivered %}{% else %}
                                                {{line.order.date|naturaltime}}
                                            {% endif %}
                                        </span>
                                        <div class="progressBar"></div>
                                        <div class="progBk"></div>
                                        <div class="row g-0 progRow">
                                            <div class="col-3">
                                                <div class="status-item">
                                                    <div class="status-circle firstCircle"></div>
                                                    <div class="status-text">
                                                        <span class="orderedText progText">Ordered</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex justify-content-center">
                                                <div class="status-item">
                                                    <div class="status-circle mx-auto"></div>
                                                    <div class="status-text">
                                                        <span class="receivedText">Received</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex justify-content-center">
                                                <div class="status-item">
                                                    <div class="status-circle mx-auto"></div>
                                                    <div class="status-text">
                                                        <span class="workingText">Working</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="status-item">
                                                    <div class="status-circle lastCircle"></div>
                                                    <div class="status-text">
                                                        <span class="deliverText">Delivered</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-details-container">
                                        <div class="odc-header">
                                            <div class="cta-text">See your product details</div>
                                            <div class="cta-button-container">
                                                <button class="cta-button">View</button>
                                            </div>
                                        </div>
                                        <div class="odc-wrapper">
                                            <div class="odc-header-line">
                                                Your order details
                                            </div>
                                            <div class="odc-header-details">
                                                Order Product Details
                                            </div>
                                            <div class="product-container">
                                                <div class="product">
                                                    <div class="product-photo">
                                                        <img src="https://s3.eu-central-1.amazonaws.com/sneakerjagers.com/products/396x396/92074.jpg" class="img-photo">
                                                    </div>
                                                    <div class="product-desc">
                                                        <span>{{line.product.name|title}}</span>
                                                        <span>${{line.lineitem_total}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cancellation">
                                                <!-- Button trigger modal -->
                                                <button type="button" class="h-100 w-100 canBtn text-white" data-toggle="modal" data-target="{{line.order.date}}{{line.product}}">
                                                    Request {% if line.delivered %}Refund{% else %}Cancellation{% endif %}?
                                                </button>
                                            </div>
                                            <div class="shipping-desc">Delivering To</div>
                                            <div class="shipping-address text-wrap">
                                                <p class="text-center">
                                                    <span class="py-1 fst-italic">{{line.order.full_name}},</span><br>
                                                    <span class="py-1 fst-italic">{{line.order.street_address1}}, </span>
                                                    <span class="py-1 fst-italic">{{line.order.town_or_city}},</span><br>
                                                    <span class="py-1 fst-italic">{{line.order.postcode}},</span><br>
                                                    <span class="py-1 fst-italic">{{line.order.country.name}}</span><br><br>
                                                    <span class="pt-2">{{line.order.email}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="{{line.order.date}}{{line.product}}" tabindex="-1" role="dialog" aria-labelledby="{{line.order.date}}{{line.product}}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Request {% if line.delivered %}Refund{% else %}Cancellation{% endif %} - {{line.product|title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body bg-white">
                                            <div class="row">
                                                <div class="col-12 text-center canStepOne">
                                                    <h3 class="text-black">
                                                        {% if line.delivered %}Refund{% else %}Cancellation{% endif %} Request
                                                    </h3>
                                                    <hr class="mx-auto w-50">
                                                    <p class="my-4 text-black">
                                                        Please Confirm You Wish To Proceed?
                                                        <br>
                                                        <span class="small">
                                                            By Clicking 'Yes' You Will Start The Cancellation 
                                                            Process Of The Following Product: <br>
                                                            <i class="fas fa-caret-right"></i> {{line.product|title}}
                                                        </span>
                                                    </p>
                                                    <div class="row d-flex justify-content-center">
                                                        <span class="mx-2 px-3 py-1 btn btn-success w-25" data-dismiss="modal">No</span>
                                                        <span class="mx-2 btn btn-md btn-black rounded-3 w-25 w-25 next-step">Yes</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 canStepTwo text-center">
                                                    <form action="">
                                                        <h3 class="text-black">Please Confirm Your Details:</h3>
                                                        <hr class="mx-auto w-50">
                                                        <div class="row d-flex justify-content-around px-1 my-1">
                                                            <div class="col-6">
                                                                <label for="name{{line.order.date}}{{line.product}}">Full Name</label>
                                                                <input type="text" id="name{{line.order.date}}{{line.product}}" name="name{{line.order.date}}{{line.product}}" class="form-control btn-outline-black" placeholder="{{line.order.full_name|title}}">
                                                            </div>
                                                            <div class="col-6">
                                                                <label for="{{line.order.phone_number}}{{line.product}}">Phone Number</label>
                                                                <input type="number" id="{{line.order.phone_number}}{{line.product}}" name="{{line.order.phone_number}}{{line.product}}" class="form-control btn-outline-black" placeholder="{{line.order.phone_number}}">
                                                            </div>
                                                        </div>
                                        
                                                        <div class="row d-flex justify-content-around px-1 my-1">
                                                            <div class="col-6">
                                                                <label for="product{{line.order.date}}">Product</label>
                                                                <input type="text" name="product{{line.order.date}}" id="product{{line.order.date}}" class="form-control btn-outline-black" placeholder="{{line.product|title}}" readonly>
                                                            </div>
                                                            <div class="col-6">
                                                                <label for="orderdate{{line.order.date}}">Order Date</label>
                                                                <input type="text" name="orderdate{{line.order.date}}" id="orderdate{{line.order.date}}" class="form-control btn-outline-black" placeholder="{{line.order.date.date}}" readonly>
                                                            </div>
                                                        </div>

                                                        <div class="row d-flex justify-content-around px-1 my-1">
                                                            <div class="col-12">
                                                                <label for="{{line.order.email}}{{line.product}}{{line.order.date}}">Email</label>
                                                                <input type="email" name="email{{line.order.email}}{{line.product}}{{line.order.date}}" id="{{line.order.email}}{{line.product}}{{line.order.date}}" class="form-control btn-outline-black" placeholder="{{line.order.email}}">
                                                            </div>
                                                        </div>

                                                        <div class="row d-flex justify-content-around px-1 my-1">
                                                            <div class="col-12">
                                                                <label for="text{{line.order.date}}{{line.product}}">{% if line.delivered %}Refund{% else %}Cancellation{% endif %} Reason</label>
                                                                <textarea class="form-control" id="text{{line.order.date}}{{line.product}}" rows="3" placeholder="Please provide a reason for this request. The more details you can provide, the higher the possibility of successful {% if line.delivered %}refund{% else %}cancellation{% endif %}."></textarea>
                                                            </div>
                                                        </div>

                                                    </form>
                                                    <div class="row d-flex justify-content-center my-3">
                                                        <span class="mx-2 btn btn-md btn-black rounded-3 w-25 prev-step"><i class="fas fa-chevron-left"></i> Previous</span>
                                                        <span class="mx-2 btn btn-md btn-danger rounded-3 w-25">Submit <i class="fas fa-chevron-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer canFooter">
                                        <button type="button" class="btn btn-secondary btn-outline-black" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center text-white">
                                It appears you have no orders.
                            </h2>
                            <p class="text-black small text-center">
                                Is this wrong? If so please <a class="text-black" href="{% url 'contact' %}">contact us</a>. We reward users who report bugs!
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="w-100 h-100" id="websites-profile">
                <h3 class="logo-font mt-3 text-center text-success">Website:</h3>
                <div class="w-100 d-flex justify-content-center">
                    <hr class="w-50">
                </div>
                {% if websites %}
                    <div class="row">
                        {% for line in websites %}
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 g-3 p-2">
                                <div class="relative box-shadow bg-white overflow-hidden px-2">
                                    <p class="lead text-center">Product Name: <br><span class="text-success">{{line.product.name}}</span></p>
                                    <p class="lead text-center">Ordered On: <br><span class="text-success">{{line.order.date}}</span></p>
                                    {% if line.delivered %}
                                        <p class="lead text-center">Delivered On: <br><span class="text-success">{{line.delivered}}</span></p>
                                    {% else %}
                                        <p class="lead text-center">Delivered On: <br><span class="fst-italic text-danger">In Progress</span></p>
                                    {% endif %}
                                    {% if line.website %}
                                        <p class="lead text-center">Domain: <br><a href="{{line.website}}" class="text-decoration-none text-success" target="_blank">{{line.website}}</a></p>
                                    {% else %}
                                        <p class="lead text-center">Domain: <br><a href="#" class="text-decoration-none text-danger" target="_blank">No Current Domain</a></p>
                                    {% endif %}
                                    {% if line.subscription %}
                                        <p class="lead text-center">Subscription Expiry: <br><span class="text-success">{{line.order.expiry}}</span></p>
                                    {% else %}
                                        <p class="lead text-center">Subscription Expiry: <br><span class="text-danger">No Subscription</span></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                <p class="text-center text-white">
                    It appears as though you have no websites on order with us.
                </p>
                {% endif %}
            </div>
            <div class="w-100 h-100" id="rating-profile">
                <h3 class="logo-font mt-3 text-center">Ratings:</h3>
                <div class="w-100 d-flex justify-content-center">
                    <hr class="w-50">
                </div>
                <div class="row">
                    {% if orders %}
                        {% for line in line_items %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 g-3 p-2">
                            <div class="relative box-shadow bg-white overflow-hidden px-2">
                                <p class="lead text-center">{{ line.product }}</p>
                                <p class="lead">Price: <span class="small text-decoration-underline">{{ line.product.price }}</span></p>
                                <p class="lead">Ordered: <span class="small text-decoration-underline">{{ line.order.date }}</span></p>
                                {% if line.delivered %}
                                    <p class="lead">Delivered: <span class="small text-success text-decoration-underline">{{ line.delivered }}</span></p>
                                {% else %}
                                    <p class="lead">Delivered: <span class="small text-success text-decoration-underline">In Progress</span></p>
                                {% endif %}
                                {% if line.rating %}
                                <p class="text muted">You Rated This Product: {{ line.rating|floatformat:1 }} / 5.0 <br><span class="fst-italic">Thank You For Your Feedback</span></p>
                                {% else %}
                                <p class="text-muted">Please Provide Feedback For This Product</p>
                                <form action="{% url 'user_profile' %}" method="POST" id="{{line.order.id}}">
                                    {% csrf_token %}
                                    <input type="hidden" name="ratingForm" class="ratingForm_{{line.order.id}}">
                                    <input type="hidden" name="productID" class="productID" value="{{line.product.id}}">
                                    <input type="hidden" name="orderID" class="orderID" value="{{line.order.id}}">
                                    <button type="submit" class="hidden submit-rating" id="submit-rating-{{line.order.id}}">Submit Rating</button>
                                </form>
                                <div class="row">
                                    <p class="w-100 d-flex justify-content-around">
                                        <span class="pointer star1" onclick="rating(1, {{line.product.id}}, {{line.order.id}})"><i class="far fa-star"></i></span>
                                        <span class="pointer star2" onclick="rating(2, {{line.product.id}}, {{line.order.id}})"><i class="far fa-star"></i></span>
                                        <span class="pointer star3" onclick="rating(3, {{line.product.id}}, {{line.order.id}})"><i class="far fa-star"></i></span>
                                        <span class="pointer star4" onclick="rating(4, {{line.product.id}}, {{line.order.id}})"><i class="far fa-star"></i></span>
                                        <span class="pointer star5" onclick="rating(5, {{line.product.id}}, {{line.order.id}})"><i class="far fa-star"></i></span>
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            <h2 class="text-center text-white pt-3">
                                No previous orders to rate.
                            </h2>
                            <p class="text-black small text-center pt-3">
                                Is this wrong? If so please <a class="text-black" href="{% url 'contact' %}">contact us</a>. We reward users who report bugs!
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
    $(document).ready(function(){
        mainPageWrap();
        sideMenuOptions();
    });
    $('.canBtn').click(function(){
        let target = $(this).data('target');
        $(this).closest('.orderContainer').siblings('.modal').modal('toggle');
    })
    $('.canStepTwo').hide();
    $('.canFooter').hide();
    $('.next-step').click(function(){
        let top = $(this).closest('.modal-body');
        $(top).find('.canStepOne').toggle(1000);
        $(top).find('.canStepTwo').toggle(1000);
        $(top).siblings('.canFooter').toggle(1500);
    })
    $('.prev-step').click(function(){
        let top = $(this).closest('.modal-body');
        $(top).find('.canStepOne').toggle(1000);
        $(top).find('.canStepTwo').toggle(1000);
        $(top).siblings('.canFooter').toggle(1500);
    })
    function equalHeight(height){
        $('#menu').css('height', height).css("vertical-align", 'middle');
    }
    function mainPageWrap(){
        
        $('#edit-profile').hide();
        $('#secProfEdit').hide();
        $('#yesEdit').click(function(){
            $('#firstProfEdit').slideToggle();
            $('#secProfEdit').slideToggle();
        })
        $('#go-back').click(function(){
            $('#firstProfEdit').slideToggle();
            $('#secProfEdit').slideToggle();
        })

        // Main Menu Options
            $('#edit-profile-btn').click(function(e){
                e.preventDefault();
                $('#main-profile-page-wrap').hide(200);
                $('#edit-profile').show(500);
                $('#update-profile-info').siblings().hide();
                $('#update-profile-info').show(200);
            })
            $('#seo-profile-btn').click(function(e){
                e.preventDefault();
                $('#main-profile-page-wrap').hide(200);
                $('#edit-profile').show(500);
                $('#seo-info-profile').siblings().hide();
                $('#seo-info-profile').show(200);
            })
            $('#web-profile-btn').click(function(e){
                e.preventDefault();
                $('#main-profile-page-wrap').hide(200);
                $('#edit-profile').show(500);
                $('#websites-profile').siblings().hide();
                $('#websites-profile').show(200);
            })
            $('#order-profile-btn').click(function(e){
                e.preventDefault();
                $('#main-profile-page-wrap').hide(200);
                $('#edit-profile').show(500);
                $('#orders-profile').siblings().hide();
                $('#orders-profile').show(200);
            })
            $('#meeting-profile-btn').click(function(e){
                e.preventDefault();
                $('#main-profile-page-wrap').hide(200);
                $('#edit-profile').show(500);
                $('#rating-profile').siblings().hide();
                $('#rating-profile').show(200);
            })

        // Styling
        $('#seo-info').hide();
        $('#billing-details').hide();
        $('#edit-profile').hide();
        $('#seo-background').hide();
        $('#profile-card-background').hide();
        $('#website-profile-background').hide();
        $('#orders-profile-background').hide();
        $('#rating-profile-background').hide();

        $('#go-billing').click(function(){
            $('#personal-details').hide();
            $('#billing-details').slideDown();
        })
        $('#go-personal').click(function(){
            $('#billing-details').hide();
            $('#personal-details').slideDown();
        });
        
        $('#edit-profile-btn').mouseenter(function(){
            $('#profile-card-background').fadeIn(300);
            $('#main-profile-page-wrap').css('background', '#333333').css('transition', 'all 2s ease-in-out');
        })
        $('#edit-profile-btn').mouseleave(function(){
            $('#profile-card-background').fadeOut(300);
            $('#main-profile-page-wrap').css('background', '#f5f5f5');
        })
        $('#seo-profile-btn').mouseenter(function(){
            $('#seo-background').fadeIn(300);
            $('#main-profile-page-wrap').css('background', '#333333').css('transition', 'all 2s ease-in-out');
        })
        $('#seo-profile-btn').mouseleave(function(){
            $('#seo-background').fadeOut(300);
            $('#main-profile-page-wrap').css('background', '#f5f5f5');
        })
        $('#web-profile-btn').mouseenter(function(){
            $('#website-profile-background').fadeIn(300);
            $('#main-profile-page-wrap').css('background', '#333333').css('transition', 'all 2s ease-in-out');
        })
        $('#web-profile-btn').mouseleave(function(){
            $('#website-profile-background').fadeOut(300);
            $('#main-profile-page-wrap').css('background', '#f5f5f5');
        })
        $('#order-profile-btn').mouseenter(function(){
            $('#orders-profile-background').fadeIn(300);
            $('#main-profile-page-wrap').css('background', '#333333').css('transition', 'all 2s ease-in-out');
        })
        $('#order-profile-btn').mouseleave(function(){
            $('#orders-profile-background').fadeOut(300);
            $('#main-profile-page-wrap').css('background', '#f5f5f5');
        })
        $('#meeting-profile-btn').mouseenter(function(){
            $('#rating-profile-background').fadeIn(300);
            $('#main-profile-page-wrap').css('background', '#333333').css('transition', 'all 2s ease-in-out');
        })
        $('#meeting-profile-btn').mouseleave(function(){
            $('#rating-profile-background').fadeOut(300);
            $('#main-profile-page-wrap').css('background', '#f5f5f5');
        })
    }
    function sideMenuOptions(){
        $('#edit-profile-details').click(function(){
            $('#update-profile-info').siblings().hide(200);
            $('#update-profile-info').show(500);
        })
        $('#view-seo').click(function(){
            $('#seo-info-profile').siblings().hide(200);
            $('#seo-info-profile').show(500);
        })
        $('#view-web').click(function(){
            $('#websites-profile').siblings().hide(200);
            $('#websites-profile').show(500);
        })
        $('#view-orders').click(function(){
            $('#orders-profile').siblings().hide(200);
            $('#orders-profile').show(500);
        })
        $('#view-rating').click(function(){
            $('#rating-profile').siblings().hide(200);
            $('#rating-profile').show(500);
        })
    }
    
    function rating(rating, product_id, order_id){
        $(`.ratingForm_${order_id}`).val(rating);
        $(`#submit-rating-${order_id}`).trigger('click');
    }
    // Stars Style
    function stars(){   
        $('.star1').mouseenter(function(){
            $(this).prevAll().children().removeClass('far').addClass('fas');
            $(this).children().removeClass('far').addClass('fas');
        });
        $('.star1').mouseleave(function(){
            $(this).prevAll().children().removeClass('fas').addClass('far');
            $(this).children().removeClass('fas').addClass('far');
        });
        
        $('.star2').mouseenter(function(){
            $(this).prevAll().children().removeClass('far').addClass('fas');
            $(this).children().removeClass('far').addClass('fas');
        });
        $('.star2').mouseleave(function(){
            $(this).prevAll().children().removeClass('fas').addClass('far');
            $(this).children().removeClass('fas').addClass('far');
        });
        
        $('.star3').mouseenter(function(){
            $(this).prevAll().children().removeClass('far').addClass('fas');
            $(this).children().removeClass('far').addClass('fas');
        });
        $('.star3').mouseleave(function(){
            $(this).prevAll().children().removeClass('fas').addClass('far');
            $(this).children().removeClass('fas').addClass('far');
        });
        
        $('.star4').mouseenter(function(){
            $(this).prevAll().children().removeClass('far').addClass('fas');
            $(this).children().removeClass('far').addClass('fas');
        });
        $('.star4').mouseleave(function(){
            $(this).prevAll().children().removeClass('fas').addClass('far');
            $(this).children().removeClass('fas').addClass('far');
        });
        
        $('.star5').mouseenter(function(){
            $(this).prevAll().children().removeClass('far').addClass('fas');
            $(this).children().removeClass('far').addClass('fas');
        });
        $('.star5').mouseleave(function(){
            $(this).prevAll().children().removeClass('fas').addClass('far');
            $(this).children().removeClass('fas').addClass('far');
        });
        
    }
    stars();

    function tax (){
        $('.taxSpent').each(function(){
            let value = $(this).text();
            let tax = value * {{tax}};
            $(this).text(tax.toFixed(2));
        })
    }
    tax();
    </script>

    <script type="text/javascript">
let drawer_open = false;

let cta_button = anime({
    targets: ['.cta-button','.cta-text', '.status-circle'],
    translateY: ['0','-15'],
    opacity: ['1','0'],
    easing: 'easeInOutSine',
    delay: anime.stagger(200),
    autoplay: false,
    // loop: false
    duration: 500,
  });

    $('.cta-button').click(function(){
        $(this).closest('.order-details-container').toggleClass('endPos');
        if ($(this).text() == "View"){
            $(this).text("Hide");
            $(this).closest('.orderContainer').find('.cta-text').text("Close product details");
        }else{
            $(this).text("View");
            $(this).closest('.orderContainer').find('.cta-text').text("See your product details");
        }
    })

function progBar(){
    $('.progBar').each(function(){
        let target = $(this).closest('.progressBar');
        data = $(this).text();
        let extract = "";
        // clean string from whitespace
        for (let i = 0; i < data.length; i++){
            if (data[i] == " "){
                // Pass
            }else{
                extract += data[i];
            }
        }
        if (extract.length == 2){
            // Item Is Delivered
            $(this).closest('.orderContainer').find('.progressBar').css('width', '71%');
            $(this).closest('.order-status-container').find('.receivedText').addClass('progText');
            $(this).closest('.order-status-container').find('.workingText').addClass('progText');
            $(this).closest('.order-status-container').find('.deliverText').addClass('progText');
        }else{
            if (parseInt(extract) >= 7){
                $(this).closest('.orderContainer').find('.progressBar').css('width', '65%');
                $(this).closest('.order-status-container').find('.receivedText').addClass('progText');
                $(this).closest('.order-status-container').find('.workingText').addClass('progText');
                $(this).closest('.order-status-container').find('.deliverText').addClass('text-success');
            }else if (parseInt(extract) == 6){
                $(this).closest('.orderContainer').find('.progressBar').css('width', '56.6%');
                $(this).closest('.order-status-container').find('.receivedText').addClass('progText');
                $(this).closest('.order-status-container').find('.workingText').addClass('progText');
            }else if (parseInt(extract) == 5){
                $(this).closest('.orderContainer').find('.progressBar').css('width', '48.2%');
                $(this).closest('.order-status-container').find('.receivedText').addClass('progText');
                $(this).closest('.order-status-container').find('.workingText').addClass('progText');
            }else if (parseInt(extract) <= 2){
                $(this).closest('.orderContainer').find('.progressBar').css('width', '31.4%');
                $(this).closest('.order-status-container').find('.receivedText').addClass('progText');
            }else if (parseInt(extract) < 2){
                $(this).closest('.orderContainer').find('.progressBar').css('width', '23%');

            }
        }
    });
}
progBar();
    </script>
{% endblock %}
