html{
    height: 100%;
}

body{
    background-color: #f5f5f5;
    color: #333333;
    height: calc(100vh - 164px);
    font-family: 'Zen Dots', cursive;
    overflow-x: hidden;
}

.bg-white{
    background-color: #f5f5f5 !important;
}
.text-white{
    color: #f5f5f5;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
.absolute-right{
    right: 0;
}
.top-right{
    top: 5px;
    right: 5px;
}

.bottom{
    bottom: 10%;
    left: 0;
    right: 0;
}
.pointer:hover{
    cursor: pointer;
}
.product-img{
    height: 250px;
}
.details-top-image{
    width:100%;
    max-height: 400px;
}
.detail-bottom-images{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    overflow: hidden;
}
.detail-bottom-images img{
    height: 100%;
    width: auto;
}

.card{
    overflow: hidden !important;
}

#topHeader{
    border-bottom: 2px solid #000;
    box-shadow: 0px 5px 20px #000;
}

.sale-banner{
    position: absolute;
    background-color: #d9534f;
    transform: rotate(-45deg);
    top: 40px;
    left: -90px;
    width: 300px;
    text-align: center;
    color: #f5f5f5;
    box-shadow: 
        0px 2px 2px #5cb85c,
        0px -2px 2px #5cb85c;
}

#mobileSearchbox{
    left: 0;
}

#home-hero{
    width: 100vw;
    overflow: hidden;
    background: url('../../media/hero-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 
        inset 0px -20px 20px #f5f5f5,
        inset 0px 1px 2px #333333;
}

.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font{
    text-transform: uppercase;
}

.main-logo-link{
    width: fit-content;
}

.shop-now-button{
    background: #000;
    color: #f5f5f5;
    min-width: 260px;
}

.btn-black{
    background: #000;
    color: #f5f5f5 !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus{
    background: #f5f5f5;
    color: #0275d8 !important;
    border: 1px solid #000;
}

.btn-qty{
    background: #0275d8;
    color: #000;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px #000;
}

.text-black{
    color: #000 !important;
}

.hover-success:hover{
    color: #5cb85c !important;
}

.border-black{
    border: 1px solid #000 !important;
}
.box-shadow{
    box-shadow: 
        1px 1px 2px #333,
        2px 5px 15px #333,
        -1px 1px 2px #333,
        0px -1px 2px #333;
}
.scale{
    transition: all 0.1s ease-out;
}
.scale:hover{
    transform: scale(1.1,1.1);
}
.scale:hover i{
    color: #0275d8;
}

.btt-button{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.dropdown-menu.show {
    z-index: 99999;
}
.btt-link{
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.btn-outline-black{
    color: #000;
    border: 1px solid #000;
}
.cart-product-image{
    height: 100px;
}
.small{
    font-size: smaller;
}
/* ------- MEDIA QUERIES ------- */

/* Larger Container on XL screens */
@media (min-width:1200px){
    .container{
        max-width: 80%;
    }
}

@media (max-width:992px){
    .fixed-top-desktop-only{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container{
        padding-top: 164px;
    }
}
@media (max-width:991px){
    .header-container{
        padding-top: 116px;
    }
}