html{
    height: 100%;
}

body{
    background-color: #f5f5f5;
    color: #333333;
    height: calc(100vh - 164px);
    font-family: 'Zen Dots', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

input[name="q"]::placeholder{
    color: #aab7c4;
}
.modal,
.modal-dialog{
    z-index: 9999999;
    overflow-x: hidden;
}
.half-lh{
    line-height: 0.5;
}
.bg-mask{
    z-index: 9999998;
    background-color: #333333;
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
p,
h4,
h5,
h6,
.plain-text{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 2px;
}
.faded{
    opacity: 0.5;
}

#seo,
#speed,
#quality,
#code,
#cost,
#revisions{
    max-height: 100%;
    margin-top: 20%;
    background: #f5f5f5;
    border: 2px solid #007bff;
    padding: 15px;
}

.underline-success{
    text-decoration: underline;
    text-decoration-color: #28a745;
}

#footer li:hover{
    color: #28a745;
    cursor: pointer;
}

.bg-success-circle{
    background: #28a745;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
}
#bg-business{
    background: url('../../media/conference.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    height: 700px;
}
#topOfPage{
    height: 0.1px;
}
.haze-white{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    opacity: 0.7;
    z-index: 1;
}
.infront{
    z-index: 999999;
}
.rounded-50{
    border-radius: 50%;
}
.haze-black{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #fff, #000);
    opacity: 0.4;
    z-index: 1;
}
.border-right{
    border-right: 2px solid #000;
}
.bg-white{
    background-color: #f5f5f5 !important;
}
.text-white{
    color: #f5f5f5;
}
.badge{
    letter-spacing: 2px;
    font-weight: 400;
}

.relative{
    position: relative;
}
.fixed{
    position: fixed;
}
.absolute{
    position: absolute;
}
.absolute-right{
    right: 10px;
}
.absolute-left{
    left: 10px;
}
.top-right{
    top: 5px;
    right: 5px;
}
.bottom-left{
    bottom:10px;
    left:10px;
}
.bottom{
    bottom: 10%;
    left: 0;
    right: 0;
}
.center{
    left: auto;
    right: auto;
}
.pointer:hover{
    cursor: pointer;
}
.product-img{
    height: 250px;
}
.details-top-image{
    width:100%;
    max-height: 400px;
}
.detail-bottom-images{
    margin-top: 10px;
    margin-bottom: 1px;
    padding-bottom: 10px;
    height: 100px;
    overflow: hidden;
}
.detail-bottom-images img{
    height: 100%;
    width: auto;
}

.card{
    overflow: hidden !important;
}

#topHeader{
    border-bottom: 2px solid #000;
    box-shadow: 0px 5px 20px #000;
}
/* ------ Allauth Form Formatting ----- */
.allauth-form-inner-content p{
    margin-top: 1.5rem;
    color: #6c757d;
}
.allauth-form-inner-content input{
    border-color: #000;
    border-radius: 0;
}
.allauth-form-inner-content label:not([for="id_remember"]){
    display: none;
}
.allauth-form-inner-content input::placeholder{
    color: #aab7c4;
}
.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"]{
    /* Btn */
    display: inline-block;
    font-weight: 400;
    color: #f8f9fa;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover{
    color:#f8f9fa;
    background-color: #222;
    border-color: #222;
}

.sale-banner{
    position: absolute;
    background-color: #d9534f;
    transform: rotate(-45deg);
    top: 40px;
    left: -90px;
    width: 300px;
    text-align: center;
    color: #f5f5f5;
    box-shadow: 
        0px 2px 2px #28a745,
        0px -2px 2px #28a745;
}
.last-available-banner{
    position: absolute;
    background-color: #007bff;
    transform: rotate(45deg);
    top: 40px;
    right: -90px;
    width: 300px;
    text-align: center;
    color: #f5f5f5;
    box-shadow: 
        0px 2px 2px #d9534f,
        0px -2px 2px #d9534f;
}

#mobileSearchbox{
    left: 0;
}
.overflow-hidden{
    overflow: hidden;
}
.scroll-y{
    overflow-x: hidden;
    overflow-y: auto;
}

#home-hero{
    width: 100vw;
    overflow: hidden;
    background: url('../../media/hero-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 
        inset 0px -20px 20px #f5f5f5,
        inset 0px 1px 2px #333333;
}
.bg-about{
    width: 100vw;
    min-height: 50vh;
    color: #f5f5f5;
    overflow: hidden;
    background: url('../../media/about_header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 
        inset 0px -20px 20px #f5f5f5,
        inset 0px 1px 2px #333333;
}

.about-hr{
    width: 175px;
    border: 1px solid #000;
}

#ux-design,
#seos,
#development,
#after-sales{
    cursor: pointer;
}
.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font{
    text-transform: uppercase;
}

.main-logo-link{
    width: fit-content;
}

.shop-now-button{
    background: #000;
    color: #f5f5f5;
    min-width: 260px;
}

.btn-black{
    background: #000;
    color: #f5f5f5 !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus{
    background: #f5f5f5;
    color: #0275d8 !important;
    border: 1px solid #000;
}

.btn-qty{
    background: #0275d8;
    color: #000;
    border: 1px solid #000;
    box-shadow: 1px 1px 5px #000;
}

.text-black{
    color: #000 !important;
}

.hover-success:hover{
    color: #28a745 !important;
}
.hover-bg-silver{
    transition: all 1s ease-in-out;
    background-color: #c0c0c0;
    box-shadow: 2px 2px 30px #c0c0c0;
}
.hover-bg-gold{
    transition: all 1s ease-in-out;
    background-color: #d4af37;
    box-shadow: 2px 2px 30px #d4af37;
}
.gold-title{
    color: #d4af37;
    text-shadow: 
        1px 1px 1px #000,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
}
.silver-title{
    color: #c0c0c0;
    text-shadow: 
        1px 1px 1px #000,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
}
.hover-white:hover{
    color: #fff;
    text-shadow: 
        1px 0px 2px #000,
        -1px -0px 2px #000,
        0px 1px 2px #000,
        0px -1px 2px #000;
}

.border-black{
    border: 1px solid #000 !important;
}
.box-shadow{
    box-shadow: 
        1px 1px 2px #333,
        2px 5px 15px #333,
        -1px 1px 2px #333,
        0px -1px 2px #333;
}
.scale{
    transition: all 0.1s ease-out;
}
.scale:hover{
    transform: scale(1.1,1.1);
}
.scale:hover i{
    color: #0275d8;
}

.hidden{
    display:none;
}
.btt-button{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.chat-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.dropdown-menu.show {
    z-index: 99999;
}
.btt-link,
.update-link,
.remove-item{
    cursor: pointer;
}

.btn-outline-black{
    color: #000;
    border: 1px solid #000;
}
.cart-product-image{
    height: 100px;
}
.small{
    font-size: smaller;
}
.productDetailCarouselImage{
    height: 400px;
    width: auto;
}
.qty_input{
    width: 100%;
}

.message-container{
    position: absolute;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
.custom-toast{
    overflow: visable;
}
.toast-capper{
    height: 2px;
}
.home-subtitle{
    min-height: 70px;
}
#homeCards{
    margin-top: -90px;
}
.bg-silver{
    background: #C0C0C0;
}
.bg-gold{
    background: #FFD700;
}
.header-container{
    margin: 0;
    padding: 0;
}
.chooseItems:hover i{
    transform: scale(1.2,1.2);
    transform: rotate(15deg);
    margin-top: -10px;
    transition: all 0.2s ease-in-out;
}
.chooseItems:hover{
    cursor: pointer;
}
.cart-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.menu-border{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 5px 5px 10px #000;
}
/* ----------- Messages Styling -------------- */
.arrow-up{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 36px;
}
.arrow-primary{
    border-bottom-color: #007bff !important;
}
.arrow-secondary{
    border-bottom-color: #6c757d !important;
}
.arrow-success{
    border-bottom-color: #28a745 !important;
}
.arrow-danger{
    border-bottom-color: #dc3545 !important;
}
.arrow-warning{
    border-bottom-color: #ffc107 !important;
}
.arrow-info{
    border-bottom-color: #17a2b8 !important;
}
.arrow-light{
    border-bottom-color: #f8f9fa !important;
}
.arrow-dark{
    border-bottom-color: #343a40 !important;
}

/* ------- MEDIA QUERIES ------- */

@media print { 
    .no-print { display:none; } 
}

/* Larger Container on XL screens */
@media (min-width:1200px){
    .container{
        max-width: 80%;
    }
}

@media (max-width:992px){
    .fixed-top-desktop-only{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    #homeCards{
        margin-top: 0;
    }
    .header-container{
        padding-top: 116px;
    }
}
@media (max-width:991px){
    .header-container{
        padding-top: 116px;
    }
}

/* --------- Bootstrap Media Sizes --------- */
@media (max-width: 575.98px) { 
    /* Extra small devices (portrait phones, less than 576px) */
    
 }

 @media (max-width: 767.98px) { 
    /* Small devices (landscape phones, less than 768px)*/
    
 }

 @media (max-width: 991.98px) { 
    /* Medium devices (tablets, less than 992px)*/
    
 }

 @media (min-width: 1199.98px) { 
    #bg-business{
        margin-top: -195px !important;
        padding-top: 200px !important;
    }
    #home-hero{
        box-shadow: 4px 0 10px #28a745;
    }
 }


/*-----------Subscription Page----------*/
.silver-plan:hover,
.gold-plan:hover{
    background: url('../../media/conference.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    opacity: 0.4;
    z-index: 1;
    transition: all 3s ease-in-out;
}
.gold-down-arrow{
    color: #d4af37;
    text-shadow: 1px 1px 2px #f5f5f5;
}
.gold-text{
    color: #d4af37;
    text-shadow: 1px 1px 2px #f5f5f5;
}
.silver-down-arrow{
    color: #c0c0c0;
    text-shadow: 1px 1px 2px #f5f5f5;
}
.silver-text{
    color: #c0c0c0;
    text-shadow: 1px 1px 2px #f5f5f5;
}
.included{
    background: rgba(255, 255, 255, 0.5);
}
.price-fade{
    text-shadow: 
        1px 1px 5px #000,
        -1px -1px #000,
        2px 2px 10px #fff,
        3px 3px 20px #000;
}

.flip-card {
    background-color: transparent;
    width: auto;
    min-height: 400px;
    padding: 25px;
    perspective: 700px; /* Remove this if you don't want the 3D effect */
  }
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    margin-left: 10%;
    width: 80%;
    min-height: 200px;
    text-align: center;
    margin-top: 50px;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
  /* Style the back side */
.flip-card-back {
    background-color: #d4af37;
    color: white;
    transform: rotateY(180deg);
}

.desc-bg{
    background: url('../../media/question.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
.feedback-bg{
    background: url('../../media/testemonial.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
.contact-bg{
    background: url('../../media/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.4;
}
#feedback{
    min-height: 60vh;
}
.feedback-image img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-top: -5%;
    z-index: 999999999;
}
#feedback-intro{
    margin-top: 25vh;
    padding-right: 5vw;
}
#feedback-carousel{
    background: #000;
}
.feedback-carousel-bg{
    background: url('../../media/feedback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.2;
}
#contact-gold{
    min-height: 60vh;
    background: -webkit-linear-gradient(left, #d4af37, #00c6ff);
}
#contact-silver{
    min-height: 60vh;
    background: -webkit-linear-gradient(left, #c0c0c0, #00c6ff);
}
.silver-haze{
    background: #c0c0c0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index:0;
}
.gold-haze{
    background: #d4af37;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index:0;
}

/* -------Contact Form -------- */
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;

}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
    z-index: 9999999999;
}
.contact-image img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-top: -5%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/*-------Cookie Container ----------*/

.popup-haze{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999999;
}
.cookie-message{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    background-color: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 20px;
    border-top: 2px solid #000;
    font-weight: 200;
}
.cookie-message a{
    margin-right: 30px;
}