<div class="collapse navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font text-black font-weight-bold nav-link mx-5 hover-success" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu bg-white border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-success font-weight-bold nav-link text-black mx-5 hover-success" href="#" id="webdesign-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Web Design
            </a>
            <div class="dropdown-menu bg-white border-0" aria-labelledby="webdesign-nav">
                <a href="{% url 'products' %}?category=personal" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> Personal</a>
                <a href="{% url 'products' %}?category=business" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> Business</a>
                <a href="{% url 'products' %}?category=ecommerce" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> eCommerce</a>
                <a href="{% url 'products' %}?category=webdesign,personal,business,ecommerce" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> All Web Design</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-success font-weight-bold nav-link text-black mx-5 hover-success" href="#" id="seo-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SEO
            </a>
            <div class="dropdown-menu bg-white border-0" aria-labelledby="seo-nav">
                <a href="{% url 'products' %}?category=report" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> SEO Reports</a>
                <a href="{% url 'products' %}?category=technical" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> Technical SEO</a>
                <a href="{% url 'products' %}?category=onpage" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> On Page SEO</a>
                <a href="{% url 'products' %}?category=offpage" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> Off Page SEO</a>
                <a href="{% url 'products' %}?category=seo,report,technical,onpage,offpage" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> All SEO</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font text-success font-weight-bold nav-link text-black mx-5 hover-success" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Offers
            </a>
            <div class="dropdown-menu bg-white border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?sort=category" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> New Additions</a>
                <a href="{% url 'products' %}?bargains" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> Bargains</a>
                <a href="{% url 'products' %}?on_sale" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> On Sale</a>
                <a href="#" class="dropdown-item hover-success"><i class="fas fa-angle-right"></i> All Specials</a>
            </div>
        </li>
    </ul>
</div>