{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center box-shadow rounded-3 my-5 bg-white">
        <hr>
        <h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>
        <hr>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
    </div>
</div>

{% endblock %}