{% load static %}

<!doctype html>
    <html lang="en">
        <head>
            {% block meta %}
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock %}
            {% block extra_meta %}
            {% endblock %}
            
            {% block corecss %}
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
                <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Zen+Dots&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="{% static 'css/base.css' %}">  
            {% endblock %}
            {% block extra_css %}
            {% endblock %}
            
            {% block corejs %}
                <script src="https://kit.fontawesome.com/a52b198673.js" crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <!--Stripe-->
                <script src="https://js.stripe.com/v3/"></script>  
                <script src="{% static 'js/base.js' %}"></script>
            {% endblock %}
            {% block extra_js %}
            {% endblock %}

            <!--Chatbot Style & JS-->
            <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css">
            <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css">
            <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/botui/build/botui.min.js" crossorigin="anonymous"></script>

            {% block social_seo %}
                <!--Facebook SEO-->
                <meta property="og:title" content="Your Store Template">
                <meta property="og:description" content="A customizable web store with stripe payments, admin panel and more.">
                <meta property="og:image" content="{% static 'media/background.jpg' %}">
                <meta property="og:url" content="">

                <!--Twitter SEO-->
                <meta name="twitter:title" content="Your Store Template ">
                <meta name="twitter:description" content=" Offering tour packages for individuals or groups.">
                <meta name="twitter:image" content="{% static 'media/background.jpg' %}">
                <meta name="twitter:card" content="summary_large_image">        
            {% endblock %}

            <!--Icon-->
            <link rel="icon" type="image/jpg" href=""/>

            <!--Browser Title-->
            <title>{% block extra_title %}{%endblock%}Manage My Web</title>
        </head>
        <body>
            <div id="topOfPage"></div>
            <header class="container-fluid no-print fixed-top-desktop-onlysticky-top bg-white" id="topHeader">
                <div class="row">
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-start d-none d-lg-block">
                        <a href="{% url 'home' %}" class="nav-link main-logo-link">
                            <h2 class="logo-font text-black my-0">Manage My Web</h2>
                        </a>
                    </div>
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input type="text" class="form-control border border-black rounded-0" name="q" placeholder="Search This Site">
                                <div class="input-group-append bg-primary">
                                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-block">
                        <ul class="list-inline list-unstyled text-center text-lg-end my-0">
                            <li class="list-inline-item dropdown">
                                <a href="#" class="text-black nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center {% if user.is_authenticated %}text-primary{%else%}text-black{%endif%}">
                                        <div><i class="fas fa-user fa-lg"></i></div>
                                        <p class="my-0">My Account</p>
                                    </div>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <a href="/admin" class="dropdown-item">
                                                Product Management
                                            </a>
                                        {% endif %}
                                        <a href="{% url 'user_profile' %}" class="dropdown-item">
                                            My Profile
                                        </a>
                                        <a href="{% url 'account_logout' %}" class="dropdown-item">
                                            Logout
                                        </a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item">
                                            Register
                                        </a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item">
                                            Login
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'cart' %}" class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                                €{{ total|floatformat:2 }}
                                            {% else %}
                                                €0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row bg-white fixed-sm-top" id="secRow">
                    <nav class="navbar navbar-expand-lg navbar-light w-100">
                        <div class="row d-lg-none w-100">
                            <div class="col-4">
                                <button class="navbar-toggler text-black" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle Navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                            <div class="col-8 text-end">
                                <h2 class="logo-font text-success">Manage My Web</h2>
                            </div>
                        </div>
                        
                        <div class="col-12 d-lg-none d-flex justify-content-around">
                            {% include 'includes/mobile-top-header.html' %}
                        </div>
                        {% include 'includes/main-nav.html' %}
                    </nav>
                </div>
            </header>

            {% if messages %}
                <div class="message-container text-black">
                    {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                </div>
            {% endif %}

            {% block page_header %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            <!-- Global Footer -->
            <footer class="container-fluid bg-white infront pt-5 no-print" id="footer">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0">
                        <div class="w-100 h-100 box-shadow text-center">
                            <h3 class="h4 text-black logo-font pt-3 underline-success">
                                Products
                            </h3>
                            <hr class="mx-auto w-50">
                            <ul class="list-unstyled text-primary text-center">
                                <li>Web Design</li>
                                <li>SEO</li>
                                <li>Offers</li>
                                <li>Subscriptions</li>
                                <li>View All</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0">
                        <div class="w-100 h-100 box-shadow text-center">
                            <h3 class="h4 text-black logo-font pt-3 underline-success">
                                News & Releases
                            </h3>
                            <hr class="mx-auto w-50">
                            <ul class="list-unstyled text-primary text-center">
                                <li>Blog</li>
                                <li>Latest Articles</li>
                                <li>SEO</li>
                                <li>Offers</li>
                                <li>Products</li>
                                <li>Blog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0">
                        <div class="w-100 h-100 box-shadow text-center">
                            <h3 class="h4 text-black logo-font pt-3 underline-success">
                                Navigation
                            </h3>
                            <hr class="mx-auto w-50">
                            <ul class="list-unstyled text-primary text-center">
                                <li>Products</li>
                                <li>Web Design</li>
                                <li>SEO</li>
                                <li>Offers</li>
                                <li>Products</li>
                                <li>Products</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 offset-sm-1 col-lg-3 offset-lg-0">
                        <div class="w-100 h-100 box-shadow text-center">
                            <h3 class="h4 text-black logo-font pt-3 underline-success">
                                Social
                            </h3>
                            <hr class="mx-auto w-50">
                            <ul class="list-unstyled text-primary text-center">
                                <li>Facebook</li>
                                <li>Twitter</li>
                                <li>Pinterest</li>
                                <li>Instagram</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

            <!--Back to top button-->
            <div class="btt-button no-print rounded-50 border bg-white box-shadow infront">
                <a class="btt-link d-flex h-100">
                    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                </a>
            </div>
            <!-- Chat modal button-->
            <button type="button" class="btn btn-primary chat-button infront no-print" data-toggle="modal" data-target="#chatModal">
                <i class="fas fa-comment-dots fa-lg"></i>
            </button>
            <!-- Chat modal -->
            <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="bg-mask"></div>
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Chat - Manage My Web</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="scroll-y h-100 w-100">
                            <div class="botui-app-container">
                                <div id="my-botui-app">
                                    <bot-ui></bot-ui>
                                </div>
                                <div class="container-fluid" id="chatFormContain">
                                    <form action="{% url 'chat' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="well well-sm">
                                                    <fieldset>
                                                        <legend class="text-center header">Contact us</legend>
                                                        <div class="form-group">
                                                            <div class="col-12">
                                                                <input id="fnameChat" name="fnameChat" type="text" placeholder="First Name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-12">
                                                                <input id="lnameChat" name="lnameChat" type="text" placeholder="Last Name" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-12">
                                                                <input id="emailChat" name="emailChat" type="text" placeholder="Email Address" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-12">
                                                                <input id="phoneChat" name="phoneChat" type="text" placeholder="Phone" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-12">
                                                                <textarea class="form-control" id="messageChat" name="messageChat" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12 text-center">
                                                                <button type="submit" id="contact-chat-btn" class="btn btn-primary btn-sm">Submit</button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <script src="{% static 'js/chatbot.js' %}"></script>
                    </div>
                    <div class="row overflow-hidden">
                        <div class="col-10 offset-1 d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary btn-sm mx-2" data-dismiss="modal">Close</button>
                            <button type="button" id="restartChat" class="btn btn-warning btn-sm mx-2" onclick="options()">Restart Chat</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

            {% if consent != "accepted" %}
            <div class="container-fluid cookie-container">
                <div class="popup-haze"></div>
                <div class="row cookie-message w-100 g-0">
                    <h3 class="h4 text-center">
                        Cookie Policy
                    </h3>
                    <p class="text-capitalize text-center">
                        We Use Cookies To ensure the functionality of this website.
                        Should you wish to know more, please view our <a href="#" class="text-decoration-none">cookie policy</a>& <a href="#" class="text-decoration-none">privacy policy</a><br>
                        By clicking accept, you agree to our policies. <br>
                        {{ consent }}
                    </p>
                    <div class="w-100 text-end">
                        <a href="#" class="btn btn-success btn-lg" id="cookie-accept">Accept</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Global Script -->
            <script type="text/javascript">
                function setCookie(cname, cvalue, exdays) {
                    var d = new Date();
                    d.setTime(d.getTime() + (exdays*24*60*60*1000));
                    var expires = "expires="+d.toUTCString();
                    document.cookie = cname + "=" + cvalue + "; " + expires;
                }
                $('#cookie-accept').click(function(e){
                    setCookie("MMWconsent", "accepted", 7)
                    $('.cookie-container').fadeOut(500);
                })
                $('.popup-haze').height($(document).height());
                $('#chatFormContain').hide();
                $('#restartChat').click(function(){
                    $('#chatFormContain').hide();
                })
                $('.btt-link').click(function(e){
                    window.scrollTo(0,0);
                });
                let footer = $('#footer');
                let bottom = footer.position().top + footer.outerHeight(true);
                let height = $(window).height();
                if (bottom < height){
                    footer.css('position', 'absolute').css('bottom', '0');
                }
                $('.restartChat').click(function(){
                    clear();
                })
                $('.toast').toast('show');
            </script>
            <script src="{% static 'js/cookie.js' %"></script>

            <!-- Template Additional Scripts-->
            {% block postloadjs %}

            {% endblock %}
            
        </body>
    </html>