{% extends 'base.html' %}

{% block extra_meta %}
    <meta name="description" content="Find out more about Manage My Web, and see how we can help you!">
{% endblock %}

{% block extra_title %}
    About Us -
{% endblock %}

{% block content %}
<!--Hero-->
<div class="container-fluid mb-3">
    <div class="row mb-4">
        <div class="col-12 bg-about py-5">
            <h1 class="mt-5">About Manage My Web</h1>
        </div>
    </div>
</div>
<!--Body-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="logo-font text-center text-black">Professional Web Development & SEO</h2>
            <p class="lead text-black text-center">
                Providing Turnkey Online Business Solutions
            </p>
            <div class="row d-flex justify-content-center">
                <hr class="w-25">
            </div>
            <h3>About Us</h3>
            <hr class="about-hr">
            <p class="text-black">
                Manage My Web is a professional web design and search engine optimization company based in Dublin, Ireland. <br>
                We provide web development and SEO services to individuals and businesses around the world, providing turnkey solutions
                to web development, eCommerce and SEO. 
            </p>
            <p class="text-black">
                Our development and SEO teams are comprised of industry professionals, holding accredited qualifications within full stack 
                development frameworks, search engine optimization and cyber security.
            </p>
            <p class="text-black">
                
            </p>
        </div>
    </div>
</div>

{% endblock %}
