{% extends 'base.html' %}

{% block extra_meta %}
    <meta name="description" content="Find out more about Manage My Web, and see how we can help you!">
{% endblock %}

{% block extra_title %}
    About Us -
{% endblock %}

{% block content %}
<!--Hero-->
<div class="container-fluid mb-3">
    <div class="row mb-4">
        <div class="col-12 bg-about py-5">
            <h1 class="mt-5">About Manage My Web</h1>
        </div>
    </div>
</div>
<!--Body-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="logo-font text-center text-black">Professional Web Development & SEO</h2>
            <p class="lead text-black text-center">
                Providing Turnkey Online Business Solutions
            </p>
            <div class="row d-flex justify-content-center">
                <hr class="w-25">
            </div>
            <div class="pb-5">
                <h3>About Us</h3>
                <hr class="about-hr">
                <p class="text-black">
                    Manage My Web is a professional web design and search engine optimization company based in Dublin, Ireland. <br><br>
                    We provide web development and SEO services to individuals and businesses around the world, providing turnkey solutions
                    to web development, eCommerce and SEO. 
                </p>
                <p class="text-black">
                    Our development and SEO teams are comprised of industry professionals, holding accredited qualifications within full stack 
                    development frameworks, search engine optimization and cyber security.
                </p>
                <p class="text-black">
                    Our attention to detail, paired with our multi layered approach to web design and development is what allows Manage My Web 
                    to outperform our competitors on every level.
                </p>
            </div>
            <div class="pb-5" id="webDev">
                <h3>Web Development</h3>
                <hr class="about-hr">
                <p class="text-black">
                    Our success is driven by our professional web development team. As our main focus is tailor made web solutions, we embrace 
                    the latest in W3C standards, UX design, and the latest programming best practices.
                </p>
                <p class="text-black">
                    All of our development projects follow a simple chain, which allows for a completely customisable and unique end product. Each 
                    website passes through 5 sections, which allows us to deliver professional and powerful websites.
                </p>
                <p class="text-center">
                    <span class="text-primary" id="ux-design">UX Design</span> > 
                    <span class="text-primary" id="seos">SEO</span> > 
                    <span class="text-primary" id="development">Development</span> > 
                    <span class="text-primary" id="after-sales">After Sales</span>
                </p>
                <div class="row row d-flex justify-content-center">
                    <div class="ux-design w-75">
                        <h3 class="text-muted">UX Design</h3>
                        <p class="text-muted">
                            UX design is essential to positive user experience. Our websites are built using the latest in UX design principles, providing 
                            your website with a well structured, easy to navigate platform. These best practices consider the 5 planes of UX design, and implement 
                            a strategy that will allow for the best possible user experience.
                        </p>
                    </div>
                    <div class="seo w-75">
                        <h3 class="text-muted">Search Engine Optimization</h3>
                        <p class="text-muted">
                            Our websites are built using the latest principles of technical SEO, meaning that our websites are fully SEO compatible. This provides 
                            a solid foundation to further implement both on page, and off page SEO strategies.<br>
                            Our SEO team, provides research, keywords, and content to help our websites get rewarded by search engines such as Google and Bing. 
                            SEO strategy is then shared with our development team, who can implement this SEO strategy, and built in this plan directly to the core 
                            of our websites.
                        </p>
                    </div>
                    <div class="development w-75">
                        <h3 class="text-muted">Development</h3>
                        <p class="text-muted">
                            This stage of your website is where our planning moves to implementation. Our development team, whilst building your website, works alongside 
                            our UX designers, and SEO department to ensure the look, as well as the strategy of the website is perfectly configured. Using the latest 
                            best practices in multiple programming languages, our development team will ensure key factors such as design, accessability and performance are 
                            perfectly suited to individual needs.
                        </p>
                    </div>
                    <div class="after-sales w-75">.
                        <h3 class="text-muted">After Sales</h3>
                        <p class="text-muted">
                            Our after sales service is focussed on customer satisfaction. Our service doesn't just finish with a sale, but rather when our customers are 
                            satisfied with their product. Our teams will continue to work with customers after product delivery, to ensure customer satisfaction. We aim 
                            to leave customers in a position where they are satisfied with our service, to the point they will come back to us in the future, or recommend 
                            our services to others. <br>
                            Customer satisfaction only helps promote and grow our business. Therefore it is a top priority for Manage My Web, and is our core business value.                      
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 text-center text-primary" id="left-about">
            <p class="text-black lead text-decoration-underline">
                Find Out More:
            </p>
            <p id="show-programming" class="pointer">Programming</p>
            <p id="show-about-ecommerce" class="pointer">eCommerce</p>
            <p id="show-custom-domains" class="pointer">Custom Domains</p>
            <p id="show-web-hosting" class="pointer">Web Hosting</p>
            <p id="show-about-membership" class="pointer">Membership</p>
        </div>
        <div class="col-12 col-sm-12 col-md-8 px-1" id="right-about">
            <!--Initial-->
            <div id="initial">
                <h3 class="text-center logo-font">
                    Looking For More Information?
                </h3>
                <div class="row d-flex justify-content-center">
                    <hr class="w-25">
                </div>
                <p class="lead text-black text-center pt-5">
                    Please use the tabs provided to view your requested information.
                </p>
            </div>
            <!--Programming-->
            <div id="programming">
                <h3 class="text-center logo-font">
                    Programming
                </h3>
                <div class="row d-flex justify-content-center">
                    <hr class="w-25">
                </div>
                <p class="text-black">
                    Although we can build websites using CMS such as WordPress, we only resort to CMS on customer instruction. Our websites are usually programmed using 
                    the latest in HTML, CSS, Javascript, Python and other programming frameworks. This allows us to build websites from the ground up, ensuring each website 
                    is completely unique, individual and fit for purpose. 
                </p>
                <p class="text-black">
                    Depending on website type, we choose the programming languages that are best suited for that project. Our default selection is HTML, CSS and Javascript 
                    for smaller, single page websites with Django being our main framework for larger more complex websites, where information security, and potential future 
                    growth are carefully considered. This allows us to build websites that will continue to serve their purpose for years to come.
                </p>
            </div>

            <!--eCommerce-->
            <div id="about-ecommerce">
                <h3 class="text-center logo-font">
                    eCommerce                    
                </h3>
                <div class="row d-flex justify-content-center">
                    <hr class="w-25">
                </div>
                <p class="text-black">
                    eCommerce is our primary target when attracting new customers. Our development skills are perfectly suited to this industry thanks to our expertise with 
                    payment processing. <br><br>
                    Our eCommerce websites are built to utilize automation where possible to assist in providing seamless operations on our custom built platforms.
                </p>
                <p class="text-black">
                    Our eCommerce websites are built using Django which will allow store owners and staff access to administration panels where they can easily create, update 
                    or delete products, view order history, access email marketing lists and more. <br><br>
                    At this time, due to the quantity of work involved, we only offer our eCommerce websites on a subsciption basis. This means we will not only create your 
                    new website, but look after hosting, updates, and will be available to update and add sections to your website throughout your subscription period.
                </p>
            </div>

            <!--Domains-->
            <div id="custom-domains">
                <h3 class="text-center logo-font">
                    Custom Domains
                </h3>
                <div class="row d-flex justify-content-center">
                    <hr class="w-25">
                </div>
                <p class="text-black">
                    Domains will define your new website. Custom branding will be heavily dependent on your domain. Although we do provide custom domains, available funding for 
                    these domains is outlined in our terms and conditions. We must do this due to the potential high cost of premium domain names. 
                </p>
                <p class="text-black">
                    Should our customers wish to utilize a more expensive domain, we will happily discuss this with you. Our team have vast experience with the acquisition of 
                    domains and can assist in this process where needed. For further information on this, please reach out to us for a free consultation.
                </p>
            </div>

            <!--Hosting-->
            <div id="web-hosting">
                <h3 class="text-center logo-font">
                    Web Hosting
                </h3>
                <div class="row d-flex justify-content-center">
                    <hr class="w-25">
                </div>
                <p class="text-black">
                    Manage My Web provide hosting for all of our websites. Our hosting plans are based on servers located in Ireland and the USA meaning that we can provide 
                    high page speeds throughout Europe and North America. 
                </p>
                <p class="text-black">
                    Our hosting plans are another key feature which allows us to provide customers with a complete solution to web development, where customers simply have to 
                    provide us with some details, and we will look after the rest.
                </p>
            </div>

            <!--Members-->
            <div id="about-membership">
                <h3 class="text-center logo-font">
                    Manage My Web Plans
                </h3>
                <div class="row d-flex justify-content-center">
                    <hr class="w-25">
                </div>
                <p class="text-black">
                    Although Manage My Web offer individual products, our real speciality is providing turnkey web solutions. <br><br>
                    Our plans will not only create your new website, but provide you with a custom domain and hosting. Finally we will get your website noticed online through 
                    search engine optimization practices and strategies.
                </p>
                <p class="text-black">
                    Throughout the duration of our plans, we provide website maintenance and search engine optimization and our development team are on standby to implement new 
                    features, as well as build custom applications.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{block.super}}
    <script type="text/javascript">
    $(document).ready(function(){
        buttons();
        menu();
    })
    function buttons(){
        $('.ux-design').hide();
        $('.seo').hide();
        $('.development').hide();
        $('.after-sales').hide();
    
        $('#ux-design').click(function(){
            $(this).toggleClass('text-decoration-underline');
            $('.ux-design').siblings().hide(200);
            $('.ux-design').slideDown(500);
        });
        $('#seos').click(function(){
            $(this).toggleClass('text-decoration-underline');
            $('.seo').siblings().hide(200);
            $('.seo').slideDown(500);
        });
        $('#development').click(function(){
            $(this).toggleClass('text-decoration-underline');
            $('.development').siblings().hide(200);
            $('.development').slideDown(500);
        });
        $('#after-sales').click(function(){
            $(this).toggleClass('text-decoration-underline');
            $('.after-sales').siblings().hide(200);
            $('.after-sales').slideDown(500);
        });
    }
    function menu(){
        $('#initial').show();
        $('#programming').hide();
        $('#about-ecommerce').hide();
        $('#custom-domains').hide();
        $('#web-hosting').hide();
        $('#about-membership').hide();

        $('#show-programming').click(function(){
            $('#programming').siblings().slideUp();
            $('#programming').slideDown(500);
        });
        $('#show-about-ecommerce').click(function(){
            $('#about-ecommerce').siblings().slideUp();
            $('#about-ecommerce').slideDown(500);
        });
        $('#show-custom-domains').click(function(){
            $('#custom-domains').siblings().slideUp();
            $('#custom-domains').slideDown(500);
        });
        $('#show-web-hosting').click(function(){
            $('#web-hosting').siblings().slideUp();
            $('#web-hosting').slideDown(500);
        });
        $('#show-about-membership').click(function(){
            $('#about-membership').siblings().slideUp();
            $('#about-membership').slideDown(500);
        });
    }
    </script>

{% endblock %}