<script type="text/javascript">
    $(document).ready(function(){
        productLimitCheck();
    });

    function productLimitCheck(currentNumber){
        let limit = $('#productAvailability').val();
        if (currentNumber == limit){
            $('#topLimitMessage').show();
        }else{
            $('#topLimitMessage').hide();
        }
    }
    // Increment Quantity
    $('.increment-qty').click(function(e){
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        let closestLimit = $(this).closest('.input-group').find('#productAvailability');
        let currentMaximum = parseInt($(closestLimit).val());
        if (currentValue < currentMaximum){
            $(closestInput).val(currentValue + 1);
        }
        if ((currentValue + 1) == currentMaximum){
            $(this).prop('disabled', true);
        }
        $('.decrement-qty').prop('disabled', false);
        passNumber = currentValue + 1
        productLimitCheck(passNumber);
    });

    // Decrement Quantity
    $('.decrement-qty').click(function(e){
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        if (currentValue > 1){
            $(closestInput).val(currentValue - 1);
        }
        $('.increment-qty').prop('disabled', false);
        productLimitCheck();
    });
</script>