{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}"> 
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-25 mb-2 mx-auto">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 box-shadow rounded-3 relative">
                                {% if product.on_sale == 2 %}
                                    <div class="sale-banner">
                                        <p class="logo-font px-5 my-auto">On Sale</p>
                                    </div>
                                {% endif %}
                                {% if product.image1 %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.image1.url }}" alt="{{ product.name }}" class="card-img-top img-fluid product-img">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ MEDIA_URL }}noimage.jpg" class="card-img-top img-fluid">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 lead">{{product.name}}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-1 text-start">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-start font-weight-bold">
                                                {% if product.on_sale == 2 %}
                                                    <span class="text-danger"><del>€{{ product.normal_price }}</del></span> -
                                                    <span class="text-success">€{{ product.price }}</span>
                                                {% else %}
                                                    €{{ product.price }}
                                                {% endif %}
                                            </p>
                                            {% if product.rating %}
                                                <small class="text-muted">
                                                    <i class="fas fa-star mr-1 {% if product.rating > 4 %}text-success {% elif product.rating > 2 %}text-primary {% else %}text-muted{% endif %}"></i> 
                                                    {% if product.rating > 4 %}
                                                        <span class="text-success">{{product.rating|floatformat:2}}</span> / 5.00
                                                    {% elif product.rating > 2 %}
                                                        <span class="text-primary">{{product.rating|floatformat:2}}</span> / 5.00
                                                    {% else %}
                                                        <span class="text-muted">{{product.rating|floatformat:2}}</span> / 5.00
                                                    {% endif %}
                                                </small>
                                            {% else %}
                                                <small class="text-muted">
                                                    No rating
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5 mx-auto">
                                <hr class="w-50">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5 mx-auto">
                                <hr class="w-50">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5 mx-auto">
                                <hr class="w-50">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5 mx-auto">
                                <hr class="w-50">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

