{% extends 'base.html' %}
{% load static %}




{% block extra_title %}
    {% if product.title|length > 0 %}
        {{product.title|title}} -
    {% else %}
        {{product.name|title}} -
    {% endif %}
{% endblock %}


{% block page_header %}
    <!--<div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>-->
{% endblock %}


{% block content %}
    <div class="container-fluid mt-5" id="productPageWrap">
        <div class="row g-3 my-1">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-0 relative overflow-hidden">
                    {% if product.available > 0 and product.available < 5 %}
                        <div class="last-available-banner">
                            <p class="logo-font px-5 my-auto">{{product.available}} Available</p>
                        </div>
                    {% endif %}
                    {% if product.available < 1 %}
                        <div class="last-available-banner">
                            <p class="logo-font px-5 my-auto">Sold Out</p>
                        </div>
                    {% endif %}

                    {% if product.image1 %}
                    <div class="main-img-holder">
                        <a href="{{ product.image1.url }}" target="_blank">
                            <img src="{{ product.image1.url }}" alt="{{ product.name }}" class="card-img-top img-fluid details-top-image img1">
                        </a>
                    </div>
                    {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ MEDIAURL }}noimage.jpg" class="card-img-top img-fluid img1">
                        </a>
                    {% endif %}
                    <div class="row px-3 h-100 d-flex justify-content-evenly align-items-center text-center">
                        <div class="col-3 p-1 pointer detail-bottom-images">
                            {% if product.image2 %}
                                <a href="{{ product.image2.url }}" target="_blank">
                                    <img src="{{ product.image2.url }}" alt="{{ product.name }} image two" class="img-fluid img2">
                                </a>
                            {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }} image two" class="card-img-top img-fluid img2">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-3 p-1 pointer detail-bottom-images">
                            {% if product.image3 %}
                                <a href="{{ product.image3.url }}" target="_blank">
                                    <img src="{{ product.image3.url }}" alt="{{ product.name }} image three" class="img-fluid img3">
                                </a>
                            {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }} image three" class="card-img-top img-fluid img3">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-3 p-1 pointer detail-bottom-images">
                            {% if product.image4 %}
                                <a href="{{ product.image4.url }}" target="_blank">
                                    <img src="{{ product.image4.url }}" alt="{{ product.name }} image four" class="img-fluid img4">
                                </a>
                            {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }} image four" class="card-img-top img-fluid img4">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-3 p-1 pointer detail-bottom-images">
                            {% if product.image5 %}
                                <a href="{{ product.image5.url }}" target="_blank">
                                    <img src="{{ product.image5.url }}" alt="{{ product.name }} image five" class="img-fluid img5">
                                </a>
                            {% else %}
                                <a href="">
                                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }} image five" class="card-img-top img-fluid img5">
                                </a>    
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 box-shadow">
                <div class="product-details-container mb-5 mx-4 mt-md-5">
                    <h1 class="h5 mb-0 logo-font">{{product.name}}</h1>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'products' %}?category={{product.category.name}}" class="text-muted">
                                <i class="fas fa-tag mr-1"></i> {{product.category.friendly_name}}
                            </a>
                        </p>
                    {% endif %}
                    <p class="lead mb-0 text-start font-weight-bold">
                        {% if product.on_sale == 2 %}
                            <span class="text-danger"><del>€{{product.normal_price}}</del></span>
                            <i class="fas fa-angle-double-right"></i>
                            <span class="text-success">€{{product.price}}</span><br>
                            <span class="text-success small"><small>{{saving|floatformat:2}}% Saving</small></span>
                        {% else %}
                            <span class="text-success">€{{product.price}}</span>
                        {% endif %}
                        {% if product.plan == 2 %}
                            <span class="text-muted">/ Year</span>
                        {% endif %}
                    </p>
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating|floatformat:2 }} / 5.00</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3 text-black text-justify small">{{ product.summary|linebreaksbr }}</p>
                    <div class="row">
                        <div class="col-10 offset-1 text-center">
                            <form action="{% url 'add_to_cart' product.id %}" method="POST" class="form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <p class="lead mt-3">
                                            <strong>
                                            {% if product.plan == 2 %}
                                                <em class="btn-outline-black bg-success text-black px-3 py-1"><u>Subscription Based Item</u></em>
                                            {% else %}
                                                <em><u>Qantity:</u></em>
                                            {% endif %}
                                            </strong>
                                        </p>
                                        <div class="form-group">
                                            <div class="input-group">
                                                {% if product.plan == 1 %}
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-qty rounded-0"
                                                            data-item-id="{{product.id}}" id="decrement-qty_{{ product.id }}" disabled>
                                                            <span class="icon">
                                                                <i class="fas fa-minus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="number" class="form-control qty_input text-center" 
                                                        name="quantity" value="1" min="1" max="{% if product.available %}{{product.available}}{% else %}10{% endif %}" 
                                                        data-item_id={{product.id}} id="id_qty_{{product.id}}">
                                                    <input type="hidden" value="{{product.available}}" class="productAvailability">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-qty rounded-0"
                                                            data-item-id="{{product.id}}" id="increment-qty_{{ product.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    
                                                {% elif product.plan == 2 %}
                                                    <input type="hidden" name="quantity" value="1" data-item_id={{product.id}} id="id_qty_{{product.id}}">
                                                    <p class="text-justify small">
                                                        This product is a subscription based product. For further information, please review the 
                                                        <a href="#subscription" class="text-decoration-none">subscription section</a> below.
                                                    </p>
                                                {% endif %}
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <p class="topLimitMessage text-danger pb-0 mb-0">
                                                            <span class="lead"><u>Product Limit Reached</u></span><br>
                                                            <span class="small">
                                                                To ensure quality to our customers, we have had to limit sales. <br>
                                                                Thank you for your understanding.
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <button type="submit" class="btn btn-primary btn-outline-black rounded-0 text-uppercase mt-5" {% if product.available < 1 %}disabled{%endif%}>
                                            <span class="text-uppercase">Add To Cart</span>
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 my-1">
            <div class="col-12 col-md-12 col-lg-8 bg-white offset-lg-2 box-shadow relative">
                <h2 class="text-primary text-center pt-5">
                    {{ product.name|title }} Description:
                </h2>
                <div class="collapse-section bg-primary p-2">
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <hr class="pb-1 w-25 mx-auto">
                <p class="text-black text-justify px-5 small">
                    {{product.description|linebreaksbr}}
                </p>
            </div>
        </div>

        {% if product.has_upsell == 2 %}
            <div class="row g-3 my-1">
                <div class="col-12 col-md-12 col-lg-8 bg-white offset-lg-2 box-shadow relative">
                    <h2 class="text-primary text-center pt-5">
                        Prefer To Get The Premium Version?
                    </h2>
                    <div class="collapse-section bg-primary p-2">
                        <i class="fas fa-angle-down fa-lg"></i>
                    </div>
                    <hr class="pb-1 w-25 mx-auto">
                    <div class="row">
                        <h3 class="text-primary underline-success text-center py-2">
                            Comparison:
                        </h3>
                        <div class="col-4">
                            <h6 class="underline-success text-center">{{product.name}}</h6>
                            <div class="row border-right">
                                {% for i in included %}
                                        <p class="text-muted text-center small">
                                            {{i}}
                                        </p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-8">
                            <h6 class="underline-success text-center">{{product.upsell_target.name}}</h6>
                            <div class="row">
                                {% for c in comparison %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <div class="col-5 comp">
                                            <p class="text-black small">
                                                {{c}}
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="col-5 text-end comp">
                                            <p class="text-black small">
                                                {{c}} </i>
                                            </p>
                                        </div>
                                        <div class="col-2 text-center">
                                            <i class="far fa-check-circle text-primary"></i>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <a href="{% url 'product_detail' product.upsell_target.id %}" class="btn btn-primary btn-outline-black btn-md w-25 mx-auto mb-3">Go For Premium</a>
                    </div>
                </div>
            </div>
        {% endif %}


        {% if product.preview %}
            <div class="row g-3 my-1">
                <div class="col-12 col-md-12 col-lg-8 bg-white offset-lg-2 box-shadow relative">
                    <h2 class="text-primary text-center pt-5">
                        {{ product.name|title }} Preview:
                    </h2>
                    <div class="collapse-section bg-primary p-2">
                        <i class="fas fa-angle-down fa-lg"></i>
                    </div>
                    <hr class="pb-1 w-25 mx-auto">
                    <iframe src="{{product.preview}}" width="100%" height="500px" frameborder="0"></iframe>
                </div>
            </div>
        {% endif %}
        {% if product.plan == 2 %}
        <div class="row g-3 my-1" id="subscription">
            <div class="col-12 col-md-12 bg-white col-lg-8 offset-lg-2 box-shadow relative">
                <h2 class="text-primary text-center pt-5">
                    Subscription Explained
                </h2>
                <div class="collapse-section bg-primary p-2">
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <hr class="pb-1 w-25 mx-auto">
                <p class="text-black text-justify px-5 small">
                    Subscriptions with Manage My Web is the ultimate option in bringing your business or portfolio online.
                    With our subscription plans, you will not only get the product as stated, but also a domain, hosting, 
                    developer support, website optimization and updates, search engine optimization and more. <br><br>
                    A full list of whats included in subcription plans can be found on our <a href="#" class="text-decoration-none">pricing page</a>.
                </p>
            </div>
        </div>
        {% endif %}

        {% if show_carousel %}
        <div class="row g-3 my-1" id="detailCarousel">
            <div class="col-12 col-md-12 col-lg-8 offset-lg-2 pb-2 bg-white box-shadow relative">
                <h2 class="text-primary text-center pt-5">
                    Product Images
                </h2>
                <div class="collapse-section bg-primary p-2">
                    <i class="fas fa-angle-down fa-lg"></i>
                </div>
                <hr class="pb-1 w-25 mx-auto">
                <div id="carouselProductImages" class="carousel slide" data-bs-ride="carousel" data-interval="5000">
                    <div class="carousel-inner product-carousel">
                        {% if product.image1 %}
                            <div class="carousel-item active product-carousel-img">
                                <img src="{{product.image1.url}}" class="d-block w-100 h-100 img-fluid" alt="{{product.name}}">
                            </div>
                            {% if product.image2 %}
                                <div class="carousel-item product-carousel-img">
                                    <img src="{{product.image2.url}}" class="d-block w-100 h-100" alt="{{product.name}}">
                                </div>
                                {% if product.image3 %}
                                    <div class="carousel-item product-carousel-img">
                                        <img src="{{product.image3.url}}" class="d-block w-100 h-100" alt="{{product.name}}">
                                    </div>
                                    {% if product.image4 %}
                                        <div class="carousel-item product-carousel-img">
                                            <img src="{{product.image4.url}}" class="d-block w-100 h-100" alt="{{product.name}}">
                                        </div>
                                        {% if product.image5 %}
                                            <div class="carousel-item product-carousel-img">
                                                <img src="{{product.image5.url}}" class="d-block w-100 h-100" alt="{{product.name}}">
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% else %}
                        <div class="carousel-item active">
                            <img src="{{ MEDIA_URL }}noimage.jpg" class="d-block w-100 h-100" alt="{{product.name}}">
                        </div>
                        {% endif %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselProductImages" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselProductImages" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row g-3 my-1">
            <div class="col-12 col-md-12 bg-white col-lg-8 offset-lg-2 pb-2 box-shadow">
                <div class="row w-100">
                    <div class="col-12 col-md-6">
                        <div class="inner bg-white p-2" id="rating">
                            <h2 class="text-primary text-center pt-3">
                                Rating
                            </h2>
                            <hr class="pb-1 w-25 mx-auto">
                            <p class="text-center">
                                {% for i in whole_stars %}
                                    <span class="text-success"><i class="fas fa-star"></i></span>
                                {% endfor %}
                                {% if half_star == 1 %}
                                    <span class="text-success"><i class="fas fa-star-half-alt"></i></span>
                                {% endif %}
                            </p>
                            <p class="text-center text-black lead">
                                <u>{{product.rating}} / 5.0</u>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="inner bg-white p-2 w-100" id="included">
                            <h2 class="text-primary text-center pt-3">
                                Whats Included?
                            </h2>
                            <hr class="pb-1 w-25 mx-auto">
                            {% if included|length > 10 %}
                                <div class="row">
                                    {% for i in included %}
                                    <div class="col-6">
                                        <span class="small text-black"><i class="far fa-check-circle text-primary"></i> {{i}}</span>
                                    </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="row">
                                    {% for i in included %}
                                        <p class="small text-black text-center"><i class="far fa-check-circle text-primary"></i> {{i}}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3 my-1 pb-2">
            <div class="col-12 col-md-12 col-lg-8 offset-lg-2 bg-white box-shadow">
                <h2 class="text-primary text-center pt-3">
                    Want To Know More?
                </h2>
                <hr class="pb-1 w-25 mx-auto">
                <p class="text-center text-capitalize">
                    Contact us to find out more!
                </p>
                <form action="{% url 'product_detail' product_id=product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 text-center">
                            <div class="form-group">
                                <label for="first_name">First Name:</label>
                                <input class="form-control" name="first_name" id="first_name" type="text" placeholder="First Name">
                                <label for="last_name">Last Name:</label>
                                <input class="form-control" name="last_name" id="last_name" type="text" placeholder="Last Name">
                                <label for="email">Email:</label>
                                <input class="form-control" name="email" id="email" type="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 text-center">
                            <div class="form-group">
                                <label for="subject">Subject:</label>
                                <input class="form-control" name="subject" id="subject" type="text" value="More Info On {{product.title}}" placeholder="More Info On {{product.title}}" readonly>
                                <label for="message">Subject:</label>
                                <textarea class="form-control" id="message" name="message" placeholder="Enter Your Message Here..." rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-12 my-2 text-center">
                            <input type="reset" value="Reset" class="btn btn-lg btn-danger rounded-0 btn-outline-black mx-3">
                            <button type="submit" class="btn btn-lg btn-success rounded-0 btn-outline-black mx-3">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    <script type="text/javascript">
    $('.carousel').carousel();
    // Images:
    let image1 = $('.img1').attr('src');
    let image2 = $('.img2').attr('src');
    let image3 = $('.img3').attr('src');
    let image4 = $('.img4').attr('src');
    let image5 = $('.img5').attr('src');
    bigPicture = $('.main-img-holder').find('img').attr('src');
    // Click events and shuffle
    $('.detail-bottom-images').mouseenter(function(){
        wantedPicture = $(this).find('img').attr('src');
        $(this).addClass('box-shadow');
        if (wantedPicture == image1){
            $('.main-img-holder').find('img').attr('src', image1);
        }
        if (wantedPicture == image2){
            $('.main-img-holder').find('img').attr('src', image2);
        }
        if (wantedPicture == image3){
            $('.main-img-holder').find('img').attr('src', image3);
        }
        if (wantedPicture == image4){
            $('.main-img-holder').find('img').attr('src', image4);
        }
        if (wantedPicture == image5){
            $('.main-img-holder').find('img').attr('src', image5);
        }
    })
    $('.detail-bottom-images').mouseleave(function(){
        $('.main-img-holder').find('img').attr('src', image1);
        $(this).removeClass('box-shadow');
    })

    function includedHeight(){
        let ratingHeight = $('#rating').outerHeight() + 10;
        let includedH = $('#included').outerHeight() + 10;
        if (ratingHeight > includedH){
            $('#rating').height(ratingHeight);
            $('#included').height(ratingHeight);
        } else{
            $('#rating').height(includedH);
            $('#included').height(includedH);
        }
    }
    includedHeight();

    $('.collapse-section').click(function(){
        if ($(this).nextAll().is(":visible")){
            $(this).find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
        }else{
            $(this).find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
        }
        $(this).nextAll().toggle(1000);
    });
    $('#productPageWrap').hide();
    $(document).ready(function(){
        $('#productPageWrap').fadeIn(1500);
    })
    $('.comp').mouseenter(function(){
        if ($(this).next().hasClass('col-2')){
            $(this).next().find('i').removeClass('text-primary').addClass('text-success fa-lg');
        }else{
            $(this).prev().find('i').removeClass('text-primary').addClass('text-success fa-lg');
        }
    })
    $('.comp').mouseleave(function(){
        if ($(this).next().hasClass('col-2')){
            $(this).next().find('i').removeClass('text-success fa-lg').addClass('text-primary');
        }else{
            $(this).prev().find('i').removeClass('text-success fa-lg').addClass('text-primary');
        }
    })
    </script>
{% endblock %}
