{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}"> 
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="logo-font text-primary">
                    {% if custom_title %}
                        {{custom_title}}
                    {% else %}
                        Products
                    {% endif %}
                </h1>
                {% if subtitle %}
                    <h3 class="text-muted h5">Current View: Sorted By {{subtitle|title}}</h3>
                {% endif %}
                <hr class="w-25 mb-2 mx-auto">
                <p class="lead text-muted">Available Categories:</p>
                <a href="{% url 'products' %}" class="category-badge text-decoration-none">
                    <span class="p-2 m-2 badge badge-white rounded-0 box-shadow text-black scale">
                        <i class="fas fa-tag mr-1"></i> View All
                    </span>
                </a>
                {% for category in categories %}
                    <a href="{% url 'products' %}?category={{category.name}}" class="category-badge text-decoration-none">
                        <span class="p-2 m-2 badge badge-white rounded-0 box-shadow text-black scale">
                            <i class="fas fa-tag mr-1"></i> {{category.friendly_name}}
                        </span>
                    </a>
                {% endfor %}
                <hr class="w-25 mb-2 mx-auto">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <!--Sorting Section-->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="w-100 custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{%else%}black{%endif%}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-start">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                {% if current_categories %}
                                    {% for i in current_categories %}
                                        <span class="small">{{i.friendly_name|title}}</span> - 
                                    {% endfor %}
                                {% endif %}
                            {% else %}
                                <span class="small">Current View </span>
                            {% endif %}
                            <span class="small">
                                {{ products| length }} Products 
                                {% if search_term %} 
                                    Found For 
                                    <em>"{{ search_term|title }}"</em>
                                {% endif %}
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 box-shadow rounded-3 relative">
                                {% if product.on_sale == 2 %}
                                    <div class="sale-banner">
                                        <p class="logo-font px-5 my-auto">On Sale</p>
                                    </div>
                                {% endif %}
                                {% if product.available > 0 and product.available < 5 %}
                                    <div class="last-available-banner">
                                        <p class="logo-font px-5 my-auto">{{product.available}} Available</p>
                                    </div>
                                {% endif %}
                                {% if product.available < 1 %}
                                    <div class="last-available-banner">
                                        <p class="logo-font px-5 my-auto">Sold Out</p>
                                    </div>
                                {% endif %}
                                {% if product.image1 %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ product.image1.url }}" alt="{{ product.name }}" class="card-img-top img-fluid product-img">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}" class="card-img-top img-fluid">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0 relative">
                                    <p class="mb-0 absolute bottom-left">{{product.name}}</p>
                                </div>

                                <div class="card-footer bg-white pt-0 border-1 text-center">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-center font-weight-bold">
                                                {% if product.on_sale == 2 %}
                                                    <span class="text-danger"><del>€{{ product.normal_price }}</del></span> 
                                                    <i class="fas fa-chevron-circle-right"></i>
                                                    <span class="text-success">€{{ product.price }}</span><br>
                                                {% else %}
                                                    €{{ product.price }}
                                                {% endif %}
                                            </p>
                                            {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a href="{% url 'products' %}?category={{product.category.name}}" class="text-muted">
                                                        <i class="fas fa-tag mr-1"></i> {{product.category.friendly_name}}
                                                    </a>
                                                </p>
                                            {% endif %}
                                            {% if product.rating > 0 %}
                                                <small class="text-muted">
                                                    <i class="fas fa-star mr-1 {% if product.rating > 4 %}text-success {% elif product.rating > 2 %}text-primary {% else %}text-muted{% endif %}"></i> 
                                                    {% if product.rating > 4 %}
                                                        <span class="text-success">{{product.rating|floatformat:2}}</span> / 5.00
                                                    {% elif product.rating > 2 %}
                                                        <span class="text-primary">{{product.rating|floatformat:2}}</span> / 5.00
                                                    {% else %}
                                                        <span class="text-muted">{{product.rating|floatformat:2}}</span> / 5.00
                                                    {% endif %}
                                                </small>
                                            {% else %}
                                                <small class="text-muted">
                                                    No rating
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <form action="{% url 'add_to_cart' product.id %}" method="POST" class="form">
                                    {% csrf_token %}
                                        <div class="row my-0">
                                            <div class="col-6 text-start">
                                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-info w-100">More Info</a>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button type="submit" class="btn btn-sm btn-success w-100" {% if product.available < 1 %}disabled{%endif%}>Add To Cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none my-3 mx-auto">
                                    <hr class="w-50 mx-auto">
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none my-3 mx-auto">
                                    <hr class="w-50 mx-auto">
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none my-3 mx-auto">
                                    <hr class="w-50 mx-auto">
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block my-3 mx-auto">
                                    <hr class="w-50 mx-auto">
                                </div>
                            {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function(){
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != 'reset'){
                let sort = selectedVal.split('_')[0];
                let direction = selectedVal.split('_')[1];

                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);

                window.location.replace(currentUrl);
            }else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}
